.uninav-ad-blocker-container {
    position: fixed;
    clear: both;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background-color: white;
    font-family: $font-primary;
    z-index: 10000;
    @include transform(translate(-50%, -50%));
    @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.2));
    @include screen($screen-sm) {
        width: 100%;
        max-width: 100%;
        left: 0px;
        display: block;
        @include transform(none);
        top: 50%;
        @include transform(translateY(-50%));
    }
    .uabc-header {
        background-image: url('//assets.abs-cbn.com/universalnav/img/ring-md.png');
        height: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        @include screen($screen-sm) {
            background-size: auto 190%;
            background-position: center;
        }
    }
    .uabc-col-cont {
        margin-top: 50px;
        padding: percentage(20 / 1280);
        padding-top: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        width: calc(100% - 40px);
        max-width: 900px;
        @include transform(translate(-50%, -50%));
        @include flexbox2;
        @include align-items(center);
        @include justify-content(space-between);
        @include screen($screen-sm) {
            padding: 20px;
            padding-top: 0px;
            width: calc(100% - 20px);
        }
    }
    b {
        color: red;
    }
    p {
        margin-block-start: 0.4em;
        margin-block-end: 0.5em;
        font-weight: 400;
        color: black;
        @include screen($screen-sm) {
            font-size: 0.87em;
        }
    }
    h3 {
        font-size: 0.96em;
        margin-bottom: 5px;
        @include screen($screen-sm) {
            font-size: 0.85em;
        }
    }
    button {
        font-size: 1.15em;
        font-family: $font-primary;
        border: none;
        background: none;
        cursor: pointer;
        display: block;
        background-color: black;
        width: 100%;
        color: white;
        font-weight: 600;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 25px;
        @include transition(0.2s all ease-in);
        height: auto;
        line-height: normal;
        &:hover {
            background-color: lighten(black, 20%);
        }
    }
    .uabc-col {
        width: percentage(420 / 900);
        text-align: center;
        @include screen($screen-sm) {
            width: 100%;
        }
        &:nth-child(1) {
            img {
                min-height: 43px;
                max-height: 180px;
                max-width: 100%;
                margin: auto;
                @include screen($screen-sm) {
                    max-height: 180px
                }
            }
        }
        &:nth-child(2) {
            @include screen($screen-sm) {
                display: none;
            }
            img {
                max-width: 100%;
            }
        }
    }
    .uabc-steps {
        font-size: 0.75em;
        color: #898989;
        position: relative;
        margin-top: percentage(30 / 420);
        padding: 0px percentage(85 / 420);
        padding-top: percentage(30 / 420);
        text-align: left;
        @include screen($screen-sm) {
            padding: 0px percentage(23 / 320);
            padding-top: percentage(14 / 320);
        }
        &:before {
            content: ' ';
            display: block;
            position: absolute;
            height: 3px;
            width: 30px;
            background-color: gray;
            top: 0px;
            left: 50%;
            @include transform(translateX(-50%));
        }
        h4 {
            margin-bottom: 7px;
        }
    }
}
