/*
 * Bootstrap v3.3.4 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */ // https://gist.github.com/2b597778dc1d7b0a5981
.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}
.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}
// [role="button"]{cursor:pointer}
// .fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}
// .fade.in{opacity:1}
.collapse{display:none}
.collapse.in{display:block}
// tr.collapse.in{display:table-row}
// tbody.collapse.in{display:table-row-group}
.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-property:height, visibility;-o-transition-property:height, visibility;transition-property:height, visibility;-webkit-transition-duration:.35s;-o-transition-duration:.35s;transition-duration:.35s;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease}
// .center-block{display:block;margin-left:auto;margin-right:auto}
.pull-right{float:right !important}
.pull-left{float:left !important}
// .hide{display:none !important}
// .show{display:block !important}
// .invisible{visibility:hidden}
// .text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
// .hidden{display:none !important}
// .affix{position:fixed}
.list-unstyled{padding-left:0;list-style:none}
.icon-bar{display:block;width:18px;height:3px;border-radius:1px;background-color:#fff}
.icon-bar+.icon-bar{margin-top:3px}
.text-underline{text-decoration:underline}
