.uninav-cookie-law-container {
  position: fixed;
  top: 50%;
  @include transform(translateY(-50%));
  background: url('https://assets.abs-cbn.com/universalnav/img/cookie-law-desktop.png');
  background-position: top;
  background-size: 270% !important;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif !important;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);
  z-index: 8888;
  width: 250px !important;
  background-color: #131415;
  right: -270px;
  @include transition(0.3s all ease-in-out);
  &.uninav-cookie-law-container-ready {
    right: percentage(20 / 1280);
    &.uninav-cookie-law-container-done {
        right: -270px;
    }
  }
  @include screen($screen-sm) {
      width: percentage(260 / 320);
      left: 0px;
      right: 0px !important;
      bottom: percentage(40 / 320) !important;
      opacity: 0;
      margin: auto;
      @include transform(none);
      background-size: 100% auto !important;
      background-repeat: no-repeat !important;
      background-position: top !important;
      background-color: #131415 !important;
      height: unset !important;
      display: block;
      top: auto;
      &.uninav-cookie-law-container-ready {
        opacity: 1;
        &.uninav-cookie-law-container-done {
            opacity: 0;
        }
      }
  }
  .uc-tell-me-more {
      font-size: 12px;
      text-align: right;
      color: #00bff3 !important;
      font-family: 'Montserrat', sans-serif !important;
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: subpixel-antialiased;
      text-decoration: underline !important;
  }
  .uc-content {
    width: percentage(220 / 250);
    margin: 0 auto;
    text-align: center;
    @include screen($screen-sm) {
        width: percentage(230 / 260) !important;
    }
    .uc-sub-content {
      color: #fff;
      margin-top: 1.3em;
      line-height: normal !important;
      // padding-top: 6px;
      .uc-main-title {
        font-size: 12px;
        font-weight: 300 !important;
        margin-bottom: 10px;
        color: #fff !important;
        -webkit-font-smoothing: subpixel-antialiased;
        font-family: 'Montserrat', sans-serif !important;
      }
      .uc-sub-title {
        font-size: 12px;
        font-weight: 200;
        color: #fff !important;
        -webkit-font-smoothing: subpixel-antialiased;
        font-family: 'Montserrat', sans-serif !important;
        line-height: 1.6em;
        margin-top: 5px;
      }
    }
    .uc-sub-btn {
      .uc-tell-me-more {
        font-size: 12px;
        text-align: right;
        color: #00bff3 !important;
        font-family: 'Montserrat', sans-serif !important;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: subpixel-antialiased;
        text-decoration: underline !important;
      }
      .uc-btn-agree-cookie {
        font-size: 14px;
        font-weight: 500;
        border: none;
        width: 100%;
        height: 40px;
        margin: 15px auto;
        margin-top: 10px;
        background: #363636;
        display: block;
        cursor: pointer;
        color: #fff !important;
        border-radius: 0;
        text-align: center !important;
        letter-spacing: normal;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        text-shadow: none !important;
        font-family: 'Montserrat', sans-serif !important;
        @include screen($screen-sm) {
            width: 100% !important;
            margin: 0px;
            margin-bottom: 20px;
            padding: 0px;
        }

      }
    }
  }
}
