/////////////////
// Main styles //
/////////////////


//////////////
// Scaffold //
//////////////

body {
    #wrapper {
      padding-top:30px;
    }

    &.uninav-intro-open {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    .bubble-message-container {
      width: 285px;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 5px;
      position: absolute;
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.6;
      font-family: Verdana, Geneva, sans-serif;
      z-index: 1000;

      .bubble-title {
        margin-bottom: 5px;
        font-weight: 600;
        position: relative;

        .bubble_close {
          position: absolute;
          right: 0;
          top: 0;
          width: 15px;
          height: 15px;
          cursor: pointer;

          &.fa {
            text-align: center;
            line-height: 15px;
            color: #959595;
            font-size: 16px;
          }
        }
      }
      
      .bubble-content {
        position: relative;
        z-index: 2;

        ul {
          padding: 0;
          margin: 0;
          li {
            padding: 5px 0;
            border-bottom: 1px solid #e9e9e9;
            list-style: none;
            float: none;
            height: initial;
            width: initial;
            margin-left: 0px !important;

            &:last-child {
              border-bottom: none;
            }
          }
        }
        a {
          color: #4286f4;
          text-decoration: none;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }

        .view-saved-link, .unsave-article {
          color: #666;

          &:hover {
            color: #1352aa;
          }
        }
      }

      .arrow-container {
        position: relative;

        .arrow-bubble {
          display: block;
          position: absolute;
          z-index: 1;
          border: 1px solid #ccc;
          width: 10px;
          height: 10px;
          border-left: none;
          border-top: none;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          background: #fff;
          top: 1px;
          left: 50px;
        }      
      }
    }

    .bookmarked-saved-container {
      position: relative;

      .my-blocker {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #999;
        opacity: .5;
        z-index: 999999;
      }

      .loader-icon {
        position: absolute;
        background: url(//assets.abs-cbn.com/universalnav/img/my-loader.gif);
        width: 15px;
        height: 15px;
        margin: 0 auto;
        top: calc(50% - 7.5px);
        left: calc(50% - 7.5px);
        z-index: 9999991;
      }

      .bookmark-saved {
        color: #999;
        padding: 10px;
        border-radius: 5px;
        background-color: #FFF;
        border: 1px solid rgba(0,0,0,0.4);
        position: absolute;
        display: block;
        width: 250px;
        bottom: calc(100% + 11px);
        left: -11.5px;
        z-index: 999999;
        
        a {
          color: #eb1e23;
          font-weight: 400;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        &:before {
          bottom: -21px;
          border-color: rgba(0,0,0,0.4) transparent transparent transparent;
          border-width: 10px;
        }

        &:after {
          bottom: -20px;
          border-color: #fff transparent transparent transparent;
          border-width: 10px;
        }
      }

      .bookmark-saved:after, .bookmark-saved:before {
        content: '';
        display: block;
        position: absolute;
        left: 31px;
        width: 0;
        height: 0;
        border-style: solid;
      }
      .bookmarked {
        background: url(//assets.abs-cbn.com/universalnav/img/article-save-icon.png) no-repeat;
        background-position: 21px 24px;
        border: 0;
        height: 64px;
        width: 64px;
        position: relative;
        border: 2px solid #00b163;
        background-size: 15px;
        color: #00b163;
        cursor: pointer;

        span {
          position: absolute;
          top: 4px;
          left: 0;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
      .article-saved {
        background: green url(//assets.abs-cbn.com/universalnav/img/article-saved-icon.png) no-repeat;
        background-position: 24px 24px;
        background-size: 15px;
        border: none;
        color: #FFF;
      }

      &.landscape {
        .loader-icon {
          position: absolute;
          background: url(//assets.abs-cbn.com/universalnav/img/my-loader.gif);
          width: 15px;
          height: 15px;
          margin: 0 auto;
          top: calc(50% - 7.5px);
          left: calc(50% - 7.5px);
        }

        .bookmarked {
          background: url(//assets.abs-cbn.com/universalnav/img/save-landscape.png) no-repeat;
          border: 1px solid #00b163;
          height: 35px;
          width: 80px;
          background-position: 15px 11px;
          margin-bottom: 0px !important;
          cursor: pointer;

          span {
            top: 0;
            height: 35px;
            line-height: 35px;
            width: calc(100% - 11px);
            margin-left: 11px;
          }
        }

        .article-saved {
          background: #00b163 url(//assets.abs-cbn.com/universalnav/img/saved-landscape.png) no-repeat;
          background-position: 15px 11px;
          border: none;
          color: #FFF;
        }
      }
    }
}

a, button {
    // outline: none;
    &:focus {

        outline: none;

    }
}

// Media Query Handler
#uninav-mq {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
}

// .uninav-main,
// .uninav-toggler,
// header.uninav-default {
//     h1, h2, h3, li, a, span, input[type=search] {}
// }
header.uninav-default * {
    font-family: $font-primary;
    -webkit-font-smoothing: initial;
}

/////////////
// Wrapper //
/////////////

// .uninav {
//     font-family: $font-proxima;
// }


/////////////
// Toggler //
/////////////

// .uninav-toggler {
//     @extend .ir;
//     float: right;
//     display: block;
//     text-align: center;
//     line-height: 37px;
//     width: 100px;

//     &:hover {
//         background: rgba(0,0,0,0.15);
//     }
//     &.active {
//         background: #000;
//     }
// }


///////////
// Intro //
///////////

.uninav-intro {
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.uninav-intro-spotlight-top,
.uninav-intro-spotlight-right,
.uninav-intro-spotlight-bottom,
.uninav-intro-spotlight-left {
    position: absolute;

    // Dev environment

    background: url(img/alpha-90-black.png) left top repeat;

    // Staging environment

    // background: url(../images/alpha-90-black.png) left top repeat;

}
.uninav-intro-spotlight-top { top: 0; left: 0; right: 0; }
.uninav-intro-spotlight-right { right: 0; bottom: 0; }
.uninav-intro-spotlight-bottom { bottom: 0; }
.uninav-intro-spotlight-left { left: 0; bottom: 0; }
.uninav-intro-spotlight-mid {
    position: absolute;
    // http://www.colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.9+60,0.9+100;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==); // IE9 SVG
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 60%, rgba(0,0,0,0.9) 100%); // FF3.6+
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.9))); // Chrome,Safari4+
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 60%,rgba(0,0,0,0.9) 100%); // Chrome10+,Safari5.1+
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 60%,rgba(0,0,0,0.9) 100%); // Opera 12+
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 60%,rgba(0,0,0,0.9) 100%); // IE10+
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 60%,rgba(0,0,0,0.9) 100%); // W3C
    cursor: pointer;
    z-index: 10001;

    background-color: #000\9;
    filter: alpha(opacity=0)\9;
}
.uninav-intro-spotlight-mid {
    &:after {
        display: block;
        content: '';
        // background: url(../images/uninav-arrow.png) no-repeat;
        background: url(img/uninav-arrow.png) no-repeat;
        width: 22px;
        height: 33px;
        position: absolute;
        left: 50%;
        bottom: -40px;
        margin-left: -40px;
    }
}
.uninav-intro-arrow-stretch {
    display: none;
    visibility: hidden;
}
.uninav-intro-text {
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 10002;

    .uninav-intro-heading {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.75;
        margin-bottom: 1.5em;
        color: #fff;

        span {
            font-size: 1.45em;
            font-weight: normal;
        }
    }
    .close-intro {
        font-size: 12px;
        text-decoration: underline;
        color: #00bff3;
    }
}


//////////
// Main //
//////////

.uninav-main {
    display: none;
    z-index: 1000;
    position: fixed;
    top: $header-height-xs; // fallback
    right: 0;
    left: 0;

    // Dev environment

    background: url(img/alpha-90-black.png) left top repeat;

    // Staging environment

    // background: url(../images/alpha-90-black.png) left top repeat;
    
    border-top: 1px solid #2f2f2f;
    font-size: 14px;
    // max-height: 350px; // fallback
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: top .5s;

    ul {
        &, li {
            list-style: none;
        }
        margin-left: 0;
        padding-left: 0;
    }
}
.uninav-header {
    &.header-sticky{
        height: 50px;
    }
}

@media (max-width:780px) {
    .uninav-main {
        max-height: 100%;
        padding-bottom: 30px;
        position: fixed !important;
    }
    .uninav-news.uninav-default .logo {
        margin-left: -50px;
    }
}

.uninav-main-heading {
    color: #fff;
    font-size: 1em;
    line-height: 1.25;
    text-align: center;
    font-weight: normal;
    margin: 20px auto;
    width: 260px;
    text-transform: none;
}

.uninav-main-divider {
    border-top: 1px solid #2f2f2f;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.uninav-main-links {
    margin-top: 20px;

    ol ol, ol ul, ul ol, ul ul {
        font-size: inherit; // sports fix
    }

    ul {
        margin-top: 0;
        margin-bottom: 2em;
    }

    li {
        margin-bottom: 0;
    }

    a {
        font-size: 1em;
        text-transform: uppercase;
        padding-top: 8px;
        padding-bottom: 8px;
        display: block;
        text-decoration: none;
        padding-left: 10%;
        padding-right: 10%;
        line-height: 1.2;

        &, &:visited {
            color: #fff;
        }
        &.active {
            color: #d9232e;
            font-weight: 900;
            &:hover {
                text-decoration: none !important;
            }
        }
        &:hover {
            text-decoration: underline;
        }
        br {
            display: none;
        }
    }
}

#localhostComments {
    height: auto;
}

@media (max-width:780px) {
  body {
    .sports-home--page, #scm-social {
      .bookmarked-saved-container {
        position: relative;

        .bookmark-saved {
          color: #999;
          padding: 10px;
          border-radius: 5px;
          background-color: #FFF;
          border: 1px solid rgba(0,0,0,0.4);
          position: absolute;
          display: block;
          width: 250px;
          bottom: calc(100% + 11px);
          left: -125px;
          z-index: 999999;
          
          a {
            color: #eb1e23;
            font-weight: 400;
          }

          &:before {
            bottom: -21px;
            border-color: rgba(0,0,0,0.4) transparent transparent transparent;
            border-width: 10px;
          }

          &:after {
            bottom: -20px;
            border-color: #fff transparent transparent transparent;
            border-width: 10px;
          }
        }

        .bookmark-saved:after, .bookmark-saved:before {
          content: '';
          display: block;
          position: absolute;
          left: 155px;
          width: 0;
          height: 0;
          border-style: solid;
        }

        .bookmarked {
          background: url(//assets.abs-cbn.com/universalnav/img/article-save-icon.png) no-repeat;
          background-position: 21px 24px;
          border: 0;
          height: 64px;
          width: 64px;
          position: relative;
          border: 2px solid #00b163;
          background-size: 15px;
          color: #00b163;
          cursor: pointer;

          span {
            position: absolute;
            top: 4px;
            left: 0;
            display: block;
            width: 100%;
            text-align: center;
          }
        }
        .article-saved {
          background: green url(//assets.abs-cbn.com/universalnav/img/article-saved-icon.png) no-repeat;
          background-position: 24px 24px;
          background-size: 15px;
          border: none;
          color: #FFF;
        }

        &.landscape {
          .bookmarked {
            background: url(//assets.abs-cbn.com/universalnav/img/save-landscape.png) no-repeat;
            border: 1px solid #00b163;
            height: 35px;
            width: 80px;
            background-position: 15px 11px;
            cursor: pointer;

            span {
              top: 0;
              height: 35px;
              line-height: 35px;
              width: calc(100% - 11px);
              margin-left: 11px;
            }
          }

          .article-saved {
            background: #00b163 url(//assets.abs-cbn.com/universalnav/img/saved-landscape.png) no-repeat;
            background-position: 15px 11px;
            border: none;
            color: #FFF;
          }
        }
      }
    }
  }
}
