// screen sizes
$screen-xs: 320px;
$screen-sm: 568px;
$screen-md: 728px;
/*$screen-lg: 960px;*/
// $screen-lg: 1121px;
$screen-lg: 1024px;

// header vars
$header-height-xs: 50px;
$header-height-xs-layout2: $header-height-xs;
$header-height-lg: 55px;
$header-height-lg-layout2: 80px;
$nav-height-lg: 44px;
$nav-item-padding-horizontal-xs: 20px;

// fonts
$font-base:    Arial, "Helvetica Neue", Helvetica, sans-serif;

$font-primary: 'Montserrat', $font-base;

$font-size:    14px;

// Micro clearfix hack
.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Image replacement technique
.ir {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
