//////////////////
// Header skins //
//////////////////

// Default Layout Skins
header.uninav-corporate {
    $bg-color: #252525;
    $text-color: #898989;
    $nav-color: #1e1e1e;
    $border-color: #898989;
    $inverse-color: #fff;
    &, .header-bar { background-color: $bg-color; }
    .header-bar {
        background-image: url(//assets.abs-cbn.com/universalnav/img/ring-black-md.png);
        @media (min-width: $screen-lg) {
            background-image: url(//assets.abs-cbn.com/universalnav/img/ring-black-lg.png);
        }
    }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { background-color: $bg-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $bg-color; }
            }
            ul {
                background-color: $bg-color;
                a:hover, a:active { background-color: $nav-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $bg-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }
}

header.uninav-investor {
    $bg-color: #fff;
    $text-color: #ADADAD;
    $nav-color: #F3F2F1;
    $border-color: #835EAB;
    $inverse-color: #000;
    $nav-hover-color: $bg-color;
    $nav-hover-child-color: $nav-color;
    &, .header-bar { background-color: $bg-color; }
    .header-bar {
        background-image: url(//assets.abs-cbn.com/universalnav/img/ring-white-md.png);
        @media (min-width: $screen-lg) {
            background-image: url(//assets.abs-cbn.com/universalnav/img/ring-white-lg.png);
        }
    }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $nav-hover-color; }
            }
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }
}

header.uninav-entertainment {
    $bg-color: #642d91;
    $text-color: #A98BCA;
    $nav-color: #592977;
    $border-color: #835EAB;
    $inverse-color: #fff;
    $nav-hover-color: $bg-color;
    $nav-hover-child-color: $nav-color;
    &, .header-bar { background-color: $bg-color; }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $nav-hover-color; }
            }
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }

    // Temp fix
    .search-container {
        position: relative;
    }
    .uninaversal-toggle {
        background: darken($nav-color, 3%);
        &.active {
            background-color: #191919;
        }
    }
}

header.uninav-sports {
    $bg-color: #0055a5;
    $text-color: #f6cfd0;
    $nav-color: #eb1e23;
    $border-color: #f1b9ba;
    $inverse-color: #fff;
    $nav-hover-color: #c71d1e;
    $nav-hover-child-color: $nav-color;
    &, .header-bar { background-color: $bg-color; }
    .uninav-toggle { background: #023f79; }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { color: $text-color; background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $nav-hover-color; }
            }
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }
}

header.uninav-lifestyle {
    $bg-color: #bed72d;
    $text-color: #ECF7B1;
    $nav-color: #B5CC2A;
    $border-color: #ECF7B1;
    $inverse-color: #fff;
    $nav-hover-color: $bg-color;
    $nav-hover-child-color: $nav-color;
    &, .header-bar { background-color: $bg-color; }
    .header-bar {
        background-image: url(//assets.abs-cbn.com/universalnav/img/ring-white-md.png);
        @media (min-width: $screen-lg) {
            background-image: url(//assets.abs-cbn.com/universalnav/img/ring-white-lg.png);
        }
    }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $nav-hover-color; }
            }
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }
}

header.uninav-television {
    $bg-color: #3e1965;
    $text-color: #A07EBB;
    $nav-color: #391953;
    $border-color: #835EAB;
    $inverse-color: #fff;
    $nav-hover-color: $bg-color;
    $nav-hover-child-color: $nav-color;
    &, .header-bar { background-color: $bg-color; }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $nav-hover-color; }
            }
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }

    // Temp fix
    .search-container {
        position: relative;
    }
    .uninaversal-toggle {
        background: darken($nav-color, 3%);
        &.active {
            background-color: #191919;
        }
    }
}

header.uninav-news {
    $bg-color: #B4051D;
    $text-color: #F39AA3;
    $nav-color: #C71D1D;
    $border-color: #F5A6AC;
    $inverse-color: #fff;
    $nav-hover-color: $bg-color;
    $nav-hover-child-color: $nav-color;
    &, .header-bar { background-color: $bg-color; }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $nav-hover-color; }
            }
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }
    // Overrides
    .logo {
        span {
            font-weight: 700;
        }
    }
    @media (max-width: ($screen-lg - 1)) {
        .logo {
            a > img {
                height: 18px;
            }
            span {
                font-size: 17px;
            }
        }
    }
}

header.uninav-careers {
    $bg-color: #252525;
    $text-color: #fff;
    $nav-color: #212121;
    $border-color: #A1A1A1;
    &, .header-bar { background-color: $bg-color; }
    .navbar-toggle {
        background: $nav-color;
        &.collapsed { background: darken($nav-color, 14%) }
    }
    .icon-bar { background-color: $text-color; }
    .logo a { color: $text-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $border-color; }
        a:hover, a:active { background-color: lighten($nav-color, 6%); }
    }
    .header-nav {
        li.active > a { color: $text-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: lighten($nav-color, 6%); }
            }
            ul {
                background-color: lighten($nav-color, 6%);
                a:hover, a:active { background-color: lighten($nav-color, 9%); }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: lighten($nav-color, 6%); }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $border-color; color: $text-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $border-color; } }
    .header-login a { border-top-color: $border-color; }
}

header.uninav-licensing {
    $bg-color: #fff;
    $text-color: #F39AA3;
    $nav-color: #eb1e23;
    $border-color: #fff;
    $inverse-color: #000;
    $nav-hover-color: #c71d1e;
    $nav-hover-child-color: $nav-color;

    &, .header-bar { background-color: $bg-color; }
    .header-bar {
        background-image: url(//assets.abs-cbn.com/universalnav/img/ring-white-md.png);
        @media (min-width: $screen-lg) {
            background-image: url(//assets.abs-cbn.com/universalnav/img/ring-white-lg.png);
        }
    }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $bg-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $nav-hover-color; }
            }
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }
    // Overrides
    .header-nav-toggle[aria-expanded="true"] .icon-bar { background-color: $bg-color; }
    @media (max-width: ($screen-lg - 1)) {
        .search-container { input[type=text], input[type=search] { border-color: $bg-color; color: $bg-color; } }
        .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $bg-color; color: $bg-color } }
    }
}

header.uninav-cpa {
    $bg-color: #d53700;
    $text-color: #FFA17D;
    $nav-color: #B53201;
    $border-color: #FFA17D;
    $inverse-color: #fff;
    $nav-hover-color: $bg-color;
    $nav-hover-child-color: $nav-color;
    &, .header-bar { background-color: $bg-color; }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .header-nav-toggle[aria-expanded="true"] { background-color: $nav-color; }
    .icon-bar { background-color: $inverse-color; }
    .logo a { color: $inverse-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: $nav-hover-color; }
            }
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $inverse-color; color: $inverse-color } }
    .header-login a { border-top-color: $border-color; }

    // Overrides
    .logo {
        a {
            > img {
                height: auto !important;
                margin-right: 0;
            }
        }
        span {
            display: none;
        }
    }
    @media (min-width: $screen-lg) {
        .logo {
            a {
                flex-direction: column;
            }
            span {
                display: block;
                font-size: initial;
            }
        }
    }
}

header.uninav-tvplus {
    .uninav-main { top: 90px }
}

header.uninav-abscbnmobile {
    $bg-color: #ff1e28;
    $text-color: #ffa5a5;
    $nav-color: #c71d1e;
    $border-color: #f2a7ac;
    &, .header-bar { background-color: $bg-color; }
    .navbar-toggle {
        background: $nav-color;
        &.collapsed { background: darken($nav-color, 2%) }
    }
    .icon-bar { background-color: #fff; }
    .logo a { color: $text-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $border-color; }
        a:hover, a:active { background-color: lighten($nav-color, 4%); }
    }
    .header-nav {
        li.active > a { color: #fff; }
        > ul {
            @media (min-width: $screen-lg) {
                > li:hover > a { background-color: lighten($nav-color, 4%); }
            }
            ul {
                background-color: lighten($nav-color, 4%);
                a:hover, a:active { background-color: lighten($nav-color, 6%); }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: lighten($nav-color, 4%); }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $border-color; color: $text-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $border-color; } }
    .header-login a { border-top-color: $border-color; }

    // overrides
    .logo a > img {
        height: 51px;
        margin-bottom: 0;
    }
    &,
    .header-bar-inner,
    .navbar-toggle,
    .logo a {
        height: 59px;
    }
    @media (min-width: $screen-lg) {
        & {
            height: 124px !important;
        }
        .logo a > img {
            height: 80px;
        }
        .header-bar-inner,
        .navbar-toggle,
        .logo a,
        .header-social {
            height: 80px;
        }
        &.header-sticky {
            .logo a > img {
                height: 51px;
            }
            .header-fixed,
            .header-bar-inner,
            .navbar-toggle,
            .logo a,
            .header-social {
                height: 59px;
            }
        }
    }
}

// Layout #2 Skins
header.uninav-starcreatives {
    $bg-color: #fff;
    $text-color: #fff;
    $nav-color: #222;
    $border-color: #fff;
    $inverse-color: #ecb204;
    $nav-hover-color: darken($nav-color, 5%);
    $nav-hover-child-color: darken($nav-color, 10%);

    &, .header-bar { background-color: $bg-color; }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .icon-bar { background-color: $inverse-color; }
    .header-nav-toggle[aria-expanded="true"] {
        background-color: $nav-hover-color;
        .icon-bar { background-color: $text-color; }
    }
    .logo a { color: $inverse-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; font-weight: 700; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $border-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $border-color; color: $border-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $border-color; color: $border-color } }
    .header-login a { border-top-color: $border-color; }

    // inverse on lg size
    @media (min-width: $screen-lg) {
        .header-collapse {
            background-color: $text-color;
            a { color: $nav-color }
        }
        .header-nav {
            li.active > a { color: $nav-color; }
            > ul {
                > li:hover > a { background-color: darken($text-color, 5%); }
                ul {
                    background-color: darken($text-color, 5%);
                    a:hover, a:active { background-color: darken($text-color, 10%); }
                }
            }
            .has-child-drop {
                &:hover, &:active, &.active { background-color: darken($text-color, 5%); }
            }
        }
        .search-container { input[type=text], input[type=search] { border-color: $nav-color; color: $nav-color; } }
        .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $nav-color; color: $nav-color } }
        .search-container {
            .uninav-icon-search {
                background-position: $uninav-icon-search-black-pos;
            }
        }
        // logo resize fix on sticky
        // (so .header-nav won't slightly move to the left)
        .logo {
            width: 130px;
        }
    }
}

header.uninav-starmagic-workshop {
    $bg-color: #180027;
    $text-color: #928d96;
    $nav-color: #000;
    $border-color: $text-color;
    $inverse-color: #fff;
    $nav-hover-color: $bg-color;
    $nav-hover-child-color: #290041;

    &, .header-bar { background-color: $bg-color; }
    .uninav-toggle { background: darken($nav-color, 3%); }
    .icon-bar { background-color: $inverse-color; }
    .header-nav-toggle[aria-expanded="true"] {
        background-color: $nav-hover-color;
        .icon-bar { background-color: $text-color; }
    }
    .logo a { color: $inverse-color; display:flex; display:-webkit-flex; }
    .header-collapse {
        background-color: $nav-color;
        a { color: $text-color; font-weight: 700; }
        a:hover, a:active { background-color: $nav-hover-color; }
    }
    .header-nav {
        li.active > a { color: $inverse-color; }
        > ul {
            ul {
                background-color: $nav-hover-color;
                a:hover, a:active { background-color: $nav-hover-child-color; }
            }
        }
        .has-child-drop {
            &:hover, &:active, &.active { background-color: $nav-hover-color; }
            &:after { border-top-color: $nav-hover-child-color; }
        }
    }
    .search-container { input[type=text], input[type=search] { border-color: $border-color; color: $border-color; } }
    .search-container-lg .search-container:hover { input[type=text], input[type=search] { border-color: $border-color; color: $border-color } }
    .header-login a { border-top-color: $border-color; }

    // inverse on lg size
    @media (min-width: $screen-lg) {
        .header-collapse {
            background-color: $bg-color;
            a { color: $text-color }
            // a:hover, a:active { background-color: transparent; }
        }
        .header-nav {
            li.active > a { color: $inverse-color; }
            > ul {
                > li:hover > a { background-color: $nav-hover-child-color; }
                ul {
                    background-color: lighten($nav-hover-color, 2%);
                    a:hover, a:active { background-color: $nav-hover-child-color; }
                }
            }
            .has-child-drop {
                &:hover, &:active, &.active { background-color: darken($text-color, 5%); }
            }
        }
        // // logo resize fix on sticky
        // // (so .header-nav won't slightly move to the left)
        .logo {
            width: 120px;
        }
    }
}


//Starcinema uninav 
.uninav-starcinema {
    .uninav-main {
        top: 30px;
        position: absolute;
    }
}
.uninav-starmusic {
    .uninav-main {
        top: 33px;
        position: absolute;
    }
}
.uninav-push {
    .uninav-main {
        top: 33px;
        position: absolute;
    }
}
.uninav-myx {
    .uninav-main {
        top: 35px;
        position: absolute;
    }
}
.uninav-choosephil {
    .uninav-main {
        top: 40px;
        // position: absolute;
    }
}

header.uninav-accounts {
    // background-color: #000;
    width: 100%;
    height: 55px;
    text-align: center;
    .header-fixed {
        height: 55px;
        background-color: #000;
        .uninav-toggle {
            background-color: #000;
            position: absolute;
            top: 0;
            right: 0;
            &.active {
                background-color: #000;
            }
        }

        h1 {
            color: #FFF;
            display: inline-block;
            text-transform: uppercase;
            margin-top: 8px;
            font-size: 15px;
            font-weight: normal;
            letter-spacing: .2em;
            text-decoration: none;
            a {
                text-decoration: none;
                color: #FFF;
                &:visited {
                    color: #FFF;
                }
                span {
                width: 40px;
                height: 40px;
                    img {
                        width: 40px;
                        height: 40px;
                        vertical-align: middle;
                    }
                }
            }

        }
    }
    @media (min-width: $screen-md)  {
                .header-fixed {
                    h1 {
                        font-size: 19px;
                    }   
                }
    }

}

// Retina ABS-CBN Logo
@media (min-width: $screen-lg) {
    header.uninav-corporate,
    header.uninav-investor,
    header.uninav-entertainment,
    header.uninav-sports,
    header.uninav-lifestyle,
    header.uninav-television,
    header.uninav-news,
    header.uninav-careers,
    header.uninav-licensing {
        .logo a > img {
            height: 29px;
        }
    }
}
