.lightbox {
    padding-top: 10px;
    z-index: 1000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    .content {
        background: url(//assets.abs-cbn.com/universalnav/img/lightbox-bg.png) no-repeat;
        background-size: cover;
        max-width: 960px;
        margin: auto auto;
        font-family: $font-primary;
        text-align: center;
       
        .header {
            background: url(//assets.abs-cbn.com/universalnav/img/lightbox-header.png) no-repeat top center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            padding: 10px 0;

            a {
                text-decoration: none;
                color: #fff;
                display: table;
                text-align: center;
                margin: 0 auto;
            }
            p {
                margin: 0;
            }
            img {
                max-width: 140px;
            }
            span {
                display: table-cell;
                margin-left: 15px;
                font-size: 18px !important;
                vertical-align: middle;
                padding-left: 10px;

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    position: relative;
                    top: -2px;
                }
            }

            .news, .entertainment {
              top: 0px !important;
            }
        }
        .body {
            padding: 20px 0;
            h1 {
                font-size: 1.875em;
                margin: 0 auto 10px;
            }
            div {
              margin-top: 30px;
            }
            .kapamilya-accounts-bar {
              margin-left:30px;
              max-width: 100%;
            }
            .sub {
                font-size: 1.250em;
                font-weight: 300;
                margin: 0;
            }
            .hub-container {
                list-style-type: none;
                text-align: center;
                max-width: percentage(340px/960px);
                margin: 20px auto;
                padding: 0;
                li {
                    display: inline-block;
                    margin: 5px 5px;
                }
            }
            p {
                &.text-blue,
                &.btn-cancel a {
                    color: #1f469f;
                    font-size: 1.500em;
                }
                &.btn a {
                    font-size: 0.875em;
                    text-transform: uppercase;
                    text-decoration: none;
                    outline: none;
                }
                &.btn-proceed a {
                    color: #000;
                    border: solid 2px;
                    padding: 10px 20px;
                    border-radius: 2px;
                    display: block;
                    max-width: percentage(340px/960px);
                    margin: auto auto;
                }
            }
        }
    }
}


@media (max-width: 567px) {
  .lightbox {
    .content {
      .body {
        padding-top: 25px !important;
        h1 {
          margin: -5px auto 5px;
          font-size: 1.2em !important;
        }
        .hub-container {
          margin: 15px auto;
        }
        div {
          margin-top: 15px;
        }
        .kapamilya-accounts-bar {
          margin-left:5px;
        }
      }
    }
  }
}
