// Media Queries
@media (min-width: $screen-sm) {
    // 568px
    .uninav-intro-text {
        font-size: 16px;
    }
    .uninav-main {
        font-size: 16px;
    }
    .uninav-main-heading {
        width: auto;
    }
    // md breakpoint collapse
    .uninav-main-links-bp-left,
    .uninav-main-links-bp-right {
        float: left;
        width: (99.8% / 2);
    }
    .lightbox {
        padding: 10px 20px;
        box-sizing: border-box;
        .content {
            .body {
                padding: 20px;
                .hub-container {
                    max-width: 100%;
                }
            }
        }
    }
}

@media (min-width: $screen-md) {
    // 728px
    .uninav-intro-text {
        font-size: 16px;
    }
    .uninav-main-links-bp-left {
        width: (99.8% / 3 * 2);
        .uninav-main-links-group {
            float: left;
            width: (99.8% / 2);
        }
    }
    .uninav-main-links-bp-right {
        width: (99.8% / 3 * 1);
    }
    .uninav-main.active {
        position: fixed;
    }
    .lightbox {
        .content {
            .body {
                .hub-container {
                    max-width: percentage(390px/728px);
                }
            }
        }
    }
}

@media (min-width: $screen-lg) {
    // 1136px
    // Media Query Handler
    #uninav-mq {
        top: $screen-lg;
    }
    .uninav-intro-wrap {
        background: url(//assets.abs-cbn.com/universalnav/img/uninav-round-arrow-base.png) no-repeat;
        margin-left: auto;
        margin-right: auto;
        width: 563px;
        height: 248px;
        position: relative;
    }
    .uninav-intro-spotlight-mid {
        &:after {
            display: none;
        }
    }
    .uninav-intro-arrow-stretch {
        display: block;
        visibility: visible;
        background: url(//assets.abs-cbn.com/universalnav/img/uninav-round-arrow-stretch.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        left: 287px;
        height: 286px;
    }
    .uninav-main.active {
        position: fixed;
    }
    .uninav-intro-text {
        padding-top: 40px;
        font-size: 20px;
        .uninav-intro-heading {
            font-weight: 700;
            span {
                font-weight: 700;
                font-size: 1.25em;
            }
        }
        .close-intro {
            font-size: 14px;
        }
    }
    .uninav-main {
        // position: absolute;
        font-size: 14px;
        max-height: none;
        overflow: visible;
        .uninav-container {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .uninav-main-heading {
        font-size: 1.4em;
        line-height: 1.8em;
        font-weight: 900;
        margin-top: 23px;
        margin-bottom: 30px;
    }
    .uninav-main-links {
        a {
            br {
                display: block;
            }
        }
    }
    .uninav-main-links-bp-left,
    .uninav-main-links-bp-right {
        float: none;
        width: auto;
        .uninav-main-links-group {
            width: (99.8% / 4);
            float: left;
        }
    }
    .lightbox {
        .content {
            .body {
                .hub-container {
                    max-width: percentage(340px/960px);
                }
            }
        }
    }
}

// DEVICES BELOW 568
@media (max-width: 567px) {
    .lightbox {
        padding: 10px 10px;
        overflow-y: scroll;
        box-sizing: border-box;
        .content {
             .header {
              p {
                img {
                  display: block;
                  margin: 0 auto;
                }
                span {
                  display:block;
                  margin-top: 5px;
                  margin-left: 0px;
                }
              }
            }
            .body {
                padding: 10px;
                h1 {
                    font-size: 1.5em;
                }
                div img {
                    max-width: 100%;
                }
                .sub,
                p.text-blue {
                    font-size: 1em;
                }
                .hub-container {
                    max-width: 100%;
                }
                p.btn a {
                    font-size: .8em;
                }
            }
        }
    }
}
