// Sprites declaration
$uninav-icon-uninav-pos: -145px -4px;
$uninav-icon-search-pos: -73px -65px;
$uninav-icon-search-black-pos: -101px -65px;
.uninav-icon {

    // Dev environment

    background-image: url(//assets.abs-cbn.com/universalnav/live/img/spr-uninav.png);

    // Staging environment

    // background-image: url(../images/spr-uninav.png);

    background-repeat: no-repeat;
    display: inline-block;
}
.uninav-icon-fb {
    width: 11px; height: 20px; background-position: -4px -4px;
    &.uninav-icon-black { background-position: -23px -4px; }
    &.uninav-icon-yellow { background-position: -42px -4px; }
}
.uninav-icon-ig {
    width: 20px; height: 20px; background-position: -61px -4px;
    &.uninav-icon-black { background-position: -89px -4px; }
    &.uninav-icon-yellow { background-position: -117px -4px; }
}
.uninav-icon-login {
    width: 25px; height: 25px; background-position: -4px -32px;
    &.uninav-icon-black { background-position: -70px -32px; }
    &.uninav-icon-yellow { background-position: -103px -32px; }
}
.uninav-icon-login-avatar {
    width: 25px; height: 25px; background-position: -37px -32px;
}
.uninav-icon-rss {
    width: 15px; height: 15px; background-position: -4px -65px;
    &.uninav-icon-black { background-position: -27px -65px; }
    &.uninav-icon-yellow { background-position: -50px -65px; }
}
.uninav-icon-search {
    width: 20px; height: 20px; background-position: $uninav-icon-search-pos;
    &.uninav-icon-black { background-position: $uninav-icon-search-black-pos; }
    &.uninav-icon-yellow { background-position: -4px -93px; }
}
.uninav-icon-share {
    width: 15px; height: 15px; background-position: -129px -65px;
    &.uninav-icon-black { background-position: -32px -88px; }
    &.uninav-icon-yellow { background-position: -129px -88px; }
}
.uninav-icon-tw {
    width: 25px; height: 20px; background-position: -32px -111px;
    &.uninav-icon-black { background-position: -65px -111px; }
    &.uninav-icon-yellow { background-position: -98px -111px; }
}
.uninav-icon-uninav {
    width: 25px; height: 25px; background-position: $uninav-icon-uninav-pos;
    &.uninav-icon-black { background-position: -152px -37px; }
    &.uninav-icon-yellow { background-position: -152px -70px; }
}
.uninav-icon-yt {
    width: 29px; height: 20px; background-position: -152px -103px;
    &.uninav-icon-black { background-position: -131px -131px; }
    &.uninav-icon-yellow { background-position: -4px -159px; }
}

// Retina sprite yo!
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .uninav-icon {
        background-image: url(//assets.abs-cbn.com/universalnav/live/img/spr-uninav@2x.png);

        // background-image: url(../images/spr-uninav@2x.png);

        background-size: 185px 183px;
    }
}

// small icon fix
.uninav-icon-fb {
    margin-left: 5px;
    margin-right: 5px;
}

.hub {
    background-image: url(//assets.abs-cbn.com/sso/images/login-hub.png);
    display: block;
}

@media (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
    .hub {
        background-image: url(//assets.abs-cbn.com/sso/images/login-hub@2x.png);
        background-size: 53px;
    }
    &.hub-mmk {
        background-image: url(//assets.abs-cbn.com/sso/images/mmk_53x53.png);
        background-size:cover;
        background-position: 0 -530px;
    }
}

.hub {
    &.hub-entertainment {
        width: 53px;
        height: 53px;
        background-position: 0 0;
    }

    &.hub-iwanttv {
        width: 53px;
        height: 53px;
        background-position: 0 -53px;
    }

    &.hub-lifestyle {
        width: 53px;
        height: 53px;
        background-position: 0 -106px;
    }

    &.hub-news {
        width: 53px;
        height: 53px;
        background-position: 0 -159px;
    }

    &.hub-onemusic {
        width: 53px;
        height: 53px;
        background-position: 0 -212px;
    }

    &.hub-sky-on-demand {
        width: 53px;
        height: 53px;
        background-position: 0 -265px;
    }

    &.hub-sky {
        width: 53px;
        height: 53px;
        background-position: 0 -318px;
    }

    &.hub-sports {
        width: 53px;
        height: 53px;
        background-position: 0 -371px;
    }

    &.hub-tfc {
        width: 53px;
        height: 53px;
        background-position: 0 -424px;
    }

    &.hub-mmk {
        background-image: url(//assets.abs-cbn.com/sso/images/mmk_53x53.png);
        width: 53px;
        height: 53px;
        background-size:cover;
        background-position: 0 -477px;
    }

    &.starcinema {
        width: 53px;
        height: 53px;
        background-position: 0 -477px;
    }
    &.starcreatives {
        width: 53px;
        height: 53px;
        background-position: 0 -530px;
    }
}



// site-specific fixes
header.uninav-header {
    .header-bar .uninav-toggle.active {
        background-color: #000;
        .uninav-icon-uninav.uninav-icon-black {
            background-position: $uninav-icon-uninav-pos; // force white on black
        }
    }
    &.uninav-sports {
        .search-container {
            .uninav-icon-search {

                // Dev environment

                background: url(//assets.abs-cbn.com/universalnav/live/img/spr-uninav.png) $uninav-icon-search-pos;

                // Staging environment

                // background: url(../images/spr-uninav.png) $uninav-icon-search-pos;

                @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    
                    // Dev environment

                    background-image: url(//assets.abs-cbn.com/universalnav/live/img/spr-uninav@2x.png);

                    // Staging environment

                    // background-image: url(../images/spr-uninav@2x.png);

                    background-size: 185px 183px;
                }
            }
        }
    }
}
