@import 'variables';
@import 'sprites';
@import 'lightbox';

.lightbox .content .body .hub-container {
	max-width:90%;
}
.lightbox .content .header {
	background-image:none;
	background-color:#252525;
}

.lightbox .content .body p.btn-proceed a {
    max-width: 38.4%;
}