.gigya-list {

	margin-right: 0 !important;

	.gigya-user-link {

		vertical-align: middle;
		text-decoration: none;
		padding-right: 15px;

		.gigya-user-active {
			width: 30px;
			height: 30px;
			background-size: cover;
			border-radius: 50%;
			margin-right: 5px;
			background-position: center;
			vertical-align: middle;

		}
		.gigya-active-nophoto {
			vertical-align: middle;
			background-position: -37px -32px;
			border-radius: 50%;

		}
		.gigya-user-name {
			display: inline-block;
			
			p {
				vertical-align: middle;
				color: #FFF;
				font-family: $font-primary;
				font-weight: 500;
			}
		}

	}

	.gigya-profile.active {
			background-color: #FFF;
			height: 100%;
			a {
				padding-top: 13px;
			}

			.gigya-user-name {

			 	p {
			 		color: #999;
				  }
			}
	}

}


.gigya-expanded-profile {

	display: none;
	position: fixed;
	background-color: #FFF;
	// CHANGE DISPLAY TO INLINE-BLOCK THEN REMOVE THE MARGIN AUTO
	.gigya-expanded-photo {
		border-radius: 50%;
		width: 100px;
		height: 100px;
    	display: block;
    	margin: 10px auto ;
    	&.gigya-active-nophoto {

    		width:25px;
    		height:25px;
    	}
	}
	// COMMENT OUT WHEN DESIGN IS READY 
	// .gigya-expanded-data { 
	// 	display : inline-block;
	// 	width: 180px;
	// 	float: right;
	// 	font-size: .8em;
	// 	height: 100%;
	// 	margin-top: 30px;
	// 	color: #444;
	// 	padding-right: 10px;
	// 		span {
	// 			display : block;
	// 			color : #999;
	// 			padding-bottom: 2px;
	// 		}
	// 		p {
	// 			padding: 3px 0;
	// 			&.gigya-email {
	// 			overflow: hidden;
	// 			text-overflow: ellipsis;

	// 			}
	// 			&.gigya-fullname {
	// 				@extend .gigya-email;
	// 			}
	// 		}
			
	// }

 	div {
			ul {
				padding-left: 0;
				margin: 5px 0;
				li {
					list-style: none;
					padding: 10px;
					border-top: 1px solid #e9e9e9;

					a {
						text-decoration: none;
						color: #999;
						text-align: left;

						&:hover {
							color: #e9e9e9;
						}

					}
				}

			}

	}

}
.gigya-expanded-profile.active {
	display: block;
	z-index: 100;
	width: 320px;
	border: 1px solid #e9e9e9;
}