// Media Queries

@media (min-width: $screen-sm) { // 568px
    .uninav-intro-text {
        font-size: 16px;
    }
    .uninav-main {
        font-size: 16px;
    }
    .uninav-main-heading {
        width: auto;
    }
    // md breakpoint collapse
    .uninav-main-links-bp-left,
    .uninav-main-links-bp-right {
        float: left;
        width: (99.8% / 2);
    }
}

@media (min-width: $screen-md) { // 728px
    .uninav-intro-text {
        font-size: 16px;
    }
    .uninav-main-links-bp-left {
        width: (99.8% / 3 * 2);
        .uninav-main-links-group {
            float: left;
            width: (99.8% / 2);
        }
    }
    .uninav-main-links-bp-right {
        width: (99.8% / 3 * 1);
    }
}

@media (min-width: $screen-lg) { // 1136px
    // Media Query Handler
    #uninav-mq {
        top: $screen-lg;
    }
    .uninav-intro-wrap {
        background: url(img/uninav-round-arrow-base.png) no-repeat;
        margin-left: auto;
        margin-right: auto;
        width: 563px;
        height: 248px;
        position: relative;
    }
    .uninav-intro-spotlight-mid {
        &:after {
            display: none;
        }
    }
    .uninav-intro-arrow-stretch {
        display: block;
        visibility: visible;
        background: url(img/uninav-round-arrow-stretch.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        left: 287px;
        height: 286px;
    }
    .uninav-intro-text {
        padding-top: 40px;
        font-size: 20px;

        .uninav-intro-heading {
            font-weight: 700;
            span {
                font-weight: 700;
                font-size: 1.25em;
            }
        }
        .close-intro {
            font-size: 14px;
        }
    }
    .uninav-main {
        position: absolute;
        font-size: 14px;
        max-height: none;
        overflow: visible;

        .uninav-container {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .uninav-main-heading {
        font-size: 1.4em;
        line-height: 1.8em;
        font-weight: 900;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .uninav-main-links {
        a {
            br {
                display: block;
            }
        }
    }
    .uninav-main-links-bp-left,
    .uninav-main-links-bp-right {
        float: none;
        width: auto;
        .uninav-main-links-group {
            width: (99.8% / 4);
            float: left;
        }
    }
}
