/*SITE-TAKEOVER*/
.site-takeover {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10006;
    overflow: auto;
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    &:before {
        content: "";
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.8);
    }
    .takeover-close {
        padding: 5px 10px;
        font-size: 28px;
        font-weight: bold;
        color:#fff;
        position: absolute;
        right: 15px;
        top: 5px;
    }
}
/*SITE-TAKEOVER End*/