// Media Queries

.uninav-responsive {
    .uninav-container {
        max-width: 960px;
        width: auto;
    }
}

@media (max-width: $screen-lg - 1) { // 1135px
    #uninav-mq {
        top: $screen-md;
    }
    .uninav-responsive {
        .uninav-container {
            max-width: none;
        }
        .uninav-main {
            font-size: 16px;
            max-height: 400px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
        .uninav-main-heading {
            font-size: 16px;
            line-height: 1.25;
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: normal;
        }
        .uninav-main-links-bp-left {
            float: left;
            width: (99.8% / 3 * 2);
            .uninav-main-links-group {
                width: (99.8% / 2);
            }
        }
        .uninav-main-links-bp-right {
            float: left;
            width: (99.8% / 3 * 1);
            .uninav-main-links-group {
                float: none;
                width: auto;
            }
        }
    }
}

@media (max-width: $screen-md - 1) { // 727px
    #uninav-mq {
        top: $screen-sm;
    }
    .uninav-responsive {
        .uninav-main-links-bp-left,
        .uninav-main-links-bp-right {
            width: (99.8% / 2);
            .uninav-main-links-group {
                float: none;
                width: auto;
            }
        }
    }
    // accounts.abs-cbn.com
    .uninav-accounts {
        header.fixed {
            height: auto !important;
        }
    }
}

@media (max-width: $screen-sm - 1) { // 567px
    #uninav-mq {
        top: $screen-xs;
    }
    .uninav-responsive {
        .uninav-main {
            font-size: 14px;
        }
        .uninav-main-heading {
            font-size: 14px;
            width: 260px;
            margin-left: auto;
            margin-right: auto;
        }
        .uninav-main-links-bp-left,
        .uninav-main-links-bp-right {
            float: none;
            width: auto;
        }
    }
}

@media screen and (max-width: 540px) { // 540 for Choose Philippines
    .uninav-choosephil {
        .active-logged, .passive-logged {
            visibility: hidden;
            display: none;
        }
    }
}
