// screen sizes
$screen-xs: 320px;
$screen-sm: 568px;
$screen-md: 728px;
$screen-lg: 1136px;

// fonts
$font-base:    Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-proxima: "proxima-nova", $font-base;
$font-museo:   "Montserrat",   $font-base;

// Micro clearfix hack
.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Image replacement technique
.ir {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
