.uninav-cookie-law-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 115px;
  background: url('https://assets.abs-cbn.com/universalnav/img/cookie-law-desktop.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-family: 'Montserrat', sans-serif !important;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);
  z-index: 8888;
  .uc-tell-me-more {
      font-size: 12px;
      text-align: right;
      color: #00bff3 !important;
      font-family: 'Montserrat', sans-serif !important;
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: subpixel-antialiased;
      text-decoration: underline !important;
  }
  .uc-content {
    width: 70%;
    margin: 0 auto;
    .uc-sub-content {
      float: left;
      width: 50%;
      color: #fff;
      margin-top: 1.3em;
      line-height: normal !important;
      // padding-top: 6px;
      .uc-main-title {
        font-size: 16px;
        font-weight: 300 !important;
        margin-bottom: 10px;
        color: #fff !important;
        -webkit-font-smoothing: subpixel-antialiased;
        font-family: 'Montserrat', sans-serif !important;
      }
      .uc-sub-title {
        font-size: 12px;
        font-weight: 200;
        color: #fff !important;
        -webkit-font-smoothing: subpixel-antialiased;
        font-family: 'Montserrat', sans-serif !important;
        line-height: 1.6em;
        margin-top: 5px;
      }
    }
    .uc-sub-btn {
      // width: 50%;
      float: right;
      display: flex;
      .uc-tell-me-more {
        line-height: 100px;
        font-size: 12px;
        text-align: right;
        color: #00bff3 !important;
        margin-right: 20px;
        font-family: 'Montserrat', sans-serif !important;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: subpixel-antialiased;
        text-decoration: underline !important;
      }
      .uc-btn-agree-cookie {
        font-size: 14px;
        font-weight: 500;
        border: none;
        width: 160px;
        height: 40px;
        margin: 30px auto;
        background: #363636;
        display: block;
        cursor: pointer;
        color: #fff !important;
        border-radius: 0;
        text-align: center !important;
        letter-spacing: normal;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;        
        text-shadow: none !important;
        font-family: 'Montserrat', sans-serif !important;   
      }
    }
  }
}
