///////////////////
// Header styles //
///////////////////

// Base Styling
header.uninav-header, header.navbar {
  
  .saved-notification {
    display: block;
    position: fixed;
    z-index: 100000;
    width: 275px !important;
    right: 15px;
    top: 40px;

    .arrow-container {
      position: relative;

      .arrow-top {
        display: block;
        position: absolute;
        z-index: 1;
        border: 1px solid rgba(0,0,0,0.4);
        width: 15px;
        height: 15px;
        border-right: none;
        border-bottom: none;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #fff;
        top: -7px;
      }

      ._close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 15px;
        height: 15px;
        cursor: pointer;

        &.fa {
            text-align: center;
            line-height: 15px;
            font-size: 16px;
        }
      }
    }

    .container {
      background-color: #FFF;
      border: 1px solid  rgba(0,0,0,.4);
      padding: 10px;
      border-radius: 5px;
      color: #666;
      width: 100%;
      min-height: 85px !important;

      span {
        font-size: 12px;
        line-height: 1.4;
        font-family: Verdana, Geneva, sans-serif;
        margin-top: 20px;
        display: inline-block;

        a {
          color: #666;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;

          &:hover {
            color: #1352aa;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .main-uninav-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: #000;
    z-index: 800;
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    font-family: Montserrat, sans-serif !important;

    .left-container {
      height: 30px;
      line-height: 30px;
      float: left;
      margin-left: 15px;
      text-align: left;
      width: 150px;
      cursor: pointer;
      position: relative;
      font-weight: 400;

      // &:before {
      //   content: '';
      //   background-image: url(img/network-icon.png);
      //   width: 15px;
      //   height: 15px;
      //   display: inline-block;
      //   position: relative;
      //   top: 4px;
      //   margin-right: 10px;
      // }

      // &:after {
      //   content: '';
      //   width: 0;
      //   height: 0;
      //   border-left: 5px solid transparent;
      //   border-right: 5px solid transparent;
      //   border-top: 7px solid #fff;
      //   position: relative;
      //   top: 10px;
      //   margin: 0 25px 0 10px;
      // }

      &:after {
        content: "\f054";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-stroke: 2px #000;
        position: absolute;
        margin-left: 5px;
        height: 30px;
        line-height: 32px;
        font-size: 15px;
      }
    }

    .right-container {
      height: 30px;
      line-height: 30px;
      float: right;
      // border-left: 1px solid #333;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 150px;
      position: relative;
      font-weight: 400;

      .login-loading {
        display: block;
        height: 30px;
        width: 92px;
        text-align: center;
      }

      &.inactive {
        margin-right: 15px;
        &:before {
          content: '';
          background-image: url(img/header-icons.png);
          background-repeat: no-repeat;
          display: inline-block;
          background-size: 160px;
          background-position: -55px 0px;
          width: 20px;
          height: 20px;
          position: relative;
          top: 4px;
          margin: 0px 5px 0px 15px;
        }
      }

      &.active{
        margin-right: 15px;
        &:before {
          content: none;
        }
      }

      &.without-photo {
        margin-right: 15px;

        &:before {
          content: '';
          background-image: url(img/header-icons.png);
          background-repeat: no-repeat;
          display: inline-block;
          background-size: 160px;
          background-position: -85px 0px;
          width: 20px;
          height: 20px;
          position: relative;
          top: 4px;
          margin: 0px 5px 0px 15px;
        }
      }

      .budge-counts-saved {
        font-style: normal;
        width: 20px;
        height: 14px;
        background: rgba(199, 29, 29,0.9); //rgba(255,255,255,0.6);
        position: absolute;
        text-align: center;
        border-radius: 3px;
        top: 2px;
        left: 4px;
        line-height: 16px;
        color: #FFF; //#000;
      }
    }
  }

    // Start Scaffold
    display: inline-block;
    font-weight: normal;
    * {
        box-sizing: border-box;
    }
    *:before, &:after {
        box-sizing: border-box;
    }
    button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }
    a {
        &:active,
        &:hover {
            outline: 0;
        }
        &:focus {
            // outline: thin dotted;
            outline: 0;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
    }
    // End Scaffold

    .uninav-main {
      position: fixed;
    }

    .header-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 800;
        // HeadroomJS
        transition: transform 200ms linear;
        &.header-fixed-pinned { transform: translateY(0%); }
        &.header-fixed-unpinned { transform: translateY(-100%); }
        @media (min-width: $screen-lg) {
            &.header-fixed-pinned,
            &.header-fixed-unpinned {
                transform: none;
            }
        }
    }

    // Start Vertical sizes for XS
        &,
        .header-bar-inner,
        .navbar-toggle,
        .logo a {
            height: $header-height-xs;
        }
        @media (min-width: $screen-lg) {
            &.header-sticky {
                .header-fixed,
                .header-bar-inner,
                .navbar-toggle,
                .logo a,
                .header-social {
                    height: $header-height-xs;
                }
            }
        }
    // End Vertical sizes for XS

    .navbar-toggle {
        border: none;
        display: block;
        float: left;
        width: $header-height-xs;
        // site overrides
        margin-bottom: 0;
        border-radius: 0;
        padding: 0; // end
        transition: background-color .25s;

        .icon-bar {
            height: 3px;
            margin-left: auto;
            margin-right: auto;
            transition: all 0.25s;
        }
    }
    .header-nav-toggle {
        background: transparent;
        position: absolute;
        &[aria-expanded="true"] {
            .icon-bar { margin-top: 0; }
            .icon-bar:nth-child(2) { transform: rotateZ(45deg) translate(2px, 2px); }
            .icon-bar:nth-child(3) { opacity: 0; }
            .icon-bar:nth-child(4) { transform: rotateZ(-45deg) translate(2px, -2px); }
        }
    }
    .uninav-toggle {
        &.active {
            background-color: #191919;
        }
    }
    .logo {
        margin: 0;
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }

    .header-social {
        display: none;
    }
    .header-collapse {
        max-height: 350px; // fallback
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        a {
            display: block;
            text-decoration: none;
        }
        ul {
            margin: 0;
        }
    }
    .header-nav {
        padding: 25px 0 15px;
        a {
            padding: 12px $nav-item-padding-horizontal-xs;
            text-transform: uppercase;
        }
        li {
            display: block;
            // site overrides
            line-height: 16px;
            margin-bottom: 0; // end
            &.active {
                > a {
                    font-weight: 900;
                }
                .has-child-drop {
                    display: none;
                }
                ul {
                    display: block;
                }
            }
        }
        > ul > li { // for arrow
            position: relative; // rev2 navdrop
        }
        .has-child-drop {
            position: absolute;
            right: $nav-item-padding-horizontal-xs;
            width: 55px;
            top: 0;
            // rev2 navdrop
            // bottom: 0;
            height: 40px; // end rev2 navdrop
            cursor: pointer;
            &:after {
                display: block;
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -5px;
                margin-left: -8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 8px 0 8px;
                border-color: white transparent transparent transparent;
                transition: transform 0.25s;
            }
            &.active:after {
                transform: rotateZ(180deg);
            }
        }
        > ul ul {
            @extend .list-unstyled;
            display: none;
            a {
                padding-left: $nav-item-padding-horizontal-xs * 2;
            }
        }
        @media (max-width: ($screen-lg - 1)) {
            li {
                display: block !important;
            }
        }
    }
    .search-container {
        display: none; // FOUC fix
        padding: 0 $nav-item-padding-horizontal-xs 15px;
        .search-form {
            position: relative;
            margin-bottom: 0;
        }
        input[type=text],
        input[type=search] {
            box-sizing: border-box;
            display: block;
            width: 100%;
            background-color: transparent;
            border: 1px solid;
            font-size: 14px;
            padding: 5px 5px 5px 35px;
            outline: 0;
            margin: 0;
            height: 40px;
            border-radius: 0;
            box-shadow: none;

            &::-webkit-input-placeholder { color: inherit; }
            &:-moz-placeholder { color: inherit; }
            &::-moz-placeholder { color: inherit; }
            &:-ms-input-placeholder { color: inherit; }
        }
        .uninav-icon-search {
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -11px;
            font: 0/0 a;
            color: transparent;
            text-shadow: none;
            background-color: transparent;
            border: 0;
        }
    }
        .search-container-lg .search-container {
            padding: 0;
            input[type=text],
            input[type=search] {
                border-color: transparent;
                width: 0;
                padding-right: 0;
                transition: width .3s ease-out, padding .3s;
                // width cubic-bezier doesn't work properly on Safari
                // cubic-bezier(0, 1.2, .5, 1.2)
            }
            &:hover {
                input[type=text],
                input[type=search] {
                    width: 200px;
                    padding-right: 5px;
                }
            }
        }
    .header-login {
        display: none; // temp
        a {
            padding: 20px $nav-item-padding-horizontal-xs;
            border-top: 1px solid;
        }
        .header-profile {
            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
            }
            .text-underline {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}

// Default Layout
header.uninav-default {
    .header-bar {

        // Dev environment

        background-image: url(img/ring-md.png);

        // Staging environment

        // background-image: url(../images/ring-md.png);

        background-size: (1078px/2) (100px/2);
        background-repeat: no-repeat;
        background-position: center bottom;
        @media (min-width: $screen-lg) {

            // Dev environment

            background-image: url(img/ring-lg.png);

            // Staging environment

            // background-image: url(../images/ring-lg.png);

            background-size: (1480px/2) (110px/2);
            background-position: left bottom;
        }
    }
        .header-bar-inner {
            @extend .clearfix;
            overflow: hidden;
        }
    .header-subnav {
        display: none;
        .header-subnav-title {
            a {
                padding: 14px 20px;
                font-weight: bold;
                font-size: 16px;
            }
        }
        // Start subnav default skin
            $subnav-color: #DEDEDE;
            $subnav-text-color: #222;
            background-color: $subnav-color;
            li {
                a { color: $subnav-text-color; }
                &:hover, &:active {
                    a { background-color: lighten($subnav-color, 6%); }
                }
            }
            .header-subnav-title {
                color: $subnav-text-color;
                background-color: darken($subnav-color, 6%);
            }
        // End subnav default skin
    }
        // entertainment override
        .header-subnav-showpage {
            max-height: 350px; // fallback
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    .logo {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1;
        a > img {
            height: 20px;
            margin-bottom: 4px;
        }

        .uninav-icon-search {
            display: none;
        }
    }
}

// Layout #2
header.uninav-layout-2 {
    .logo {
        a > img {
            height: 41px;
        }
    }
}


@media (max-width:780px) {
  header {
    
    .main-uninav-header {
      .left-container {
        text-align: left !important;
        float: left !important;
        // width: 130px !important;

        &:before {
          content: none !important;
        }
      }

      .right-container {
        border-left: 0 none transparent !important;
      }
    }

    .header-fixed .header-bar .logo a {
      width: 135px;
      margin: 0 auto;
    }

    .logo {
        .uninav-icon-search {
            display: block !important;
        }
    }
    
    .search-container { display: block !important; }
  }
}

header.uninav-star-cinema {
  .header-bar-inner {
    .logo a:last-child {
        display: none;
    }
  }
}



@media (min-width: $screen-lg) {
    navbar .navbar-right {
        .sso-uninav-login {
          display: none;
        }
    }
    header.uninav-header {
        .header-social {
            float: right;
            display: flex;
            display:-webkit-flex;
            align-items: center;
            margin: 0 10px 0 0;
            li {
                line-height: 1; // site overrides: sports
                margin-bottom: 0; // site overrides: sports
                a {
                    display: block;
                    padding: 8px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            .sso-uninav-login {
              display: none;
            }
        }
        .header-collapse {
            display: block;
            overflow: visible;
            // height: $nav-height-lg;
            height: auto !important;
        }
        .header-nav {
            padding-top: 0;
            padding-bottom: 0;
            a {
                font-size: $font-size;
            }
            > ul {
                > li {
                    float: left;
                    position: relative; // for dropdown
                    > a {
                        padding: 14px 10px;
                    }
                    &:hover {
                        ul {
                            opacity: 1;
                            visibility: visible;
                            top: 100%;
                        }
                    }
                }
                ul {
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 80%;
                    left: 0;
                    width: 200px;
                    z-index: 1;
                    transition: all .15s ease-out;
                    a {
                        padding-left: $nav-item-padding-horizontal-xs;
                    }
                    &.nav-drop-right {
                        left: auto;
                        right: 0;
                    }
                }
            }
            .has-child-drop {
                display: none;
            }
        }
        .header-subnav {
            display: block;
        }
            // entertainment override
            .header-subnav-showpage {
                display: none;
            }
        // Start Nav Animations
            .header-bar-inner,
            .navbar-toggle,
            .header-nav-toggle,
            .logo,
            .logo a,
            .header-nav,
            .header-social,
            .header-social li a,
            .search-container-lg .search-container {
                transition: margin .5s, padding .5s, height .5s, width .5s, left .5s, background-color .25s;
            }
        // End Nav Animations
    }
    header.uninav-default {
        // Start Vertical sizes
            height: $header-height-lg + $nav-height-lg;
            .header-bar-inner,
            .navbar-toggle,
            .logo a,
            .header-social {
                height: $header-height-lg;
            }
            .navbar-toggle {
                width: $header-height-lg;
            }
            .header-nav-toggle {
                position: absolute;
                left: -$header-height-lg;
                z-index: 1;
            }
            .uninav-main {
                top: $header-height-lg;
            }
            &.header-sticky {
                .uninav-main {
                    top: $header-height-xs;
                }
            }
        // End Vertical sizes

        .header-nav {
            > ul {
                padding-left: $nav-item-padding-horizontal-xs;
            }
        }
        .logo {
            float: left;
            text-align: left;
            font-size: 25px;
            margin-left: 33px;
            a {
                flex-direction: row;
                -webkit-flex-direction: row;
            }
            a > img {
                height: auto;
                margin-bottom: 0;
                margin-right: 0.5em;
            }
        }

        // Start Nav Animations
            .header-collapse {
                transition: transform .5s, opacity .5s;
                transform-origin: 0 0;
            }
            .header-fixed {
                perspective: 1000px;
            }
            &.header-sticky {
                .header-collapse {
                    transform: rotateX(-90deg);
                    opacity: 0;
                }
                .header-collapse.collapse.in {
                    transform: rotateX(0deg);
                    opacity: 1;
                }
                .header-nav {
                    > ul > li > a {
                        transform: translateZ(0); // flicker fix
                    }
                }
                .navbar-toggle {
                    width: $header-height-xs;
                }
                .header-nav-toggle {
                    left: 0;
                }
                .logo {
                    font-size: 18px;
                    margin-left: 70px;
                    a > img {
                        height: 18px;
                    }
                }
            }
        // End Nav Animations
    }
    header.uninav-layout-2 {
        // Start Vertical sizes
            &,
            .header-bar-inner,
            .navbar-toggle,
            .logo a,
            .header-social,
            .header-nav {
                height: $header-height-lg-layout2;
            }
            .navbar-toggle {
                width: $header-height-lg-layout2 - 20px;
            }
            .header-nav > ul > li {
                margin-left: 5px;
                margin-right: 5px;
            }
            .header-nav-toggle {
                display: none;
            }
            .uninav-main {
                top: $header-height-lg-layout2;
            }
            &.header-sticky {
                .uninav-main {
                    top: $header-height-xs-layout2;
                }
                .header-nav {
                    height: $header-height-xs;
                }
            }
        // End Vertical sizes

        .header-bar-inner {
            display: flex;
        }
        .logo {
            float: left;
            margin-left: 20px;
            margin-right: 20px;
            a > img {
                height: auto;
            }
        }
        .header-collapse {
            margin-right: 20px;
            flex-grow: 1;
            flex-shrink: 0;
        }
        .header-nav {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.header-sticky {
            .logo {
                a > img {
                    height: 41px;
                }
            }
        }
    }
}