.uninav-sso-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.uninav-sso-container{
  display: block;
  position: fixed;
  top: 0;
  right: -320px;
  background-color: #111;
  width: 320px;
  height: 100%;
  z-index: 9999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
  -ms-overflow-style: none;

  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  
  &.uninav-sso-container-active{
    // transition: .5s;
    right: 0;
  }

  @-moz-document url-prefix() {
    margin-right: -16px;
    padding-right: 15px;
  }

  &.active {
    width: 320px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.75);
  }

  .first-to-show {
    width: 100%;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif !important;
    // display: none;

    .close-container {
      padding-bottom: 20px;
      text-align: right;
      margin-bottom: 20px;
      position: relative;
      
      .btn-cancel {
        top: 0px;
        right: 5px;
        position: absolute;
        color: #fff;
        font-size: 30px;
        height: 30px;
        width: 30px;
        text-align: center;

        &:before {
          font-weight: bold;
          content: '\00d7';
        }

        cursor: pointer;
        height: 30px;
        width: 30px;
        text-align: center;

        &:before {
          font-weight: bold;
          content: '\00d7';
        }

        &:hover {
          opacity: .7;
        }
      }
    }

    img {
      margin: 0 auto;
      display: block;
    }

    .title-logo {
      width: 100%;
      text-align: center;
      margin-bottom: -30px;
      a {
        font-size: 14px;
        letter-spacing: 2px;
        padding: 0;
        margin: 0;
        height: 55px;
        line-height: 35px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        display: inline-flex;
        // width: 100%;
        // margin: auto;
        padding: 0 20px 0 20px;
      }
      span {
        font-family: 'Montserrat', sans-serif !important;
        margin: 0 6px 0 8px;
      }
      img {
        margin-top: 5px;
      }
    }

    .title-desc {
      font-size: 13px;
      padding-left: 20px;
      padding-right: 20px;
      margin: 20px auto;
      text-align: center;
      color: #fff;
      font-weight: 100; 
      h4 {
        font-size: 13px;
        line-height: 1.4;
        text-align: center;
        color: #fff;
        font-weight: 200 !important;
        margin-bottom: 20px !important;
        font-family: 'Montserrat', sans-serif !important;
      }

      p.slide-content-right {
        line-height: 1.4;
        font-size: 12px !important;
        font-family: 'Montserrat', sans-serif !important;
      }
    }

    .content-body {
      // margin-top: 40px;

      .dont-show-this-again {
        margin: 20px auto;
        color: #fff;
        text-align: center;

        [type="checkbox"] {
          position: absolute;
          left: -9999px;
          opacity: 0;
        }

        label {
          position: relative;
          cursor: pointer;
          display: inline-block;
          margin-left: 20px;
          font-weight: 100;
          width: auto !important;
          font-size: 12px !important;
          padding: 1px 0px 0px 0px !important;
          font-family: 'Montserrat', sans-serif !important;
        }

        [type="checkbox"]+label:before {
          content: '';
          position: absolute;
          top: 2px;
          left: -20px;
          width: 15px;
          height: 15px;
          z-index: 0;
          border: 1px solid #9F9F9F;
        }

        [type="checkbox"]:checked+label:after {
          content: "\2714\0020";
          left: -18px;
          position: absolute;
          font-size: 13px;
        }
      }

      .hub-container {
        text-align: center;
        margin-top: 35px;

        .hub {
          display: inline-block;
          background: url('//assets.abs-cbn.com/sso/images/login-hub.png') no-repeat;
          overflow: hidden;
          text-indent: -9999px;
          text-align: left;
          width: 53px;
          height: 53px;
          margin: 3px;
          background-size: cover;

          &.news { background-position: 0 -159px; }
          &.lifestyle { background-position: 0 -106px; }
          &.sports { background-position: 0 -371px; }
          &.entertainment { background-position: 0 0; }
          &.onemusic { background-position: 0 -212px; }
          &.iwantv { background-position: 0 -53px; }
          &.kty { background-position: 0 -848px; }
          &.ktx { background-position: 0 -583px; }
          &.myx { background-position: 0 -901px; }
          &.noink { background-position: -9999px; display: none; }

            /* 1.25 dpr */
            @media
            (-webkit-min-device-pixel-ratio: 1.25),
            (min-resolution: 120dpi){
                /* Retina-specific stuff here */
                background-image: url('//assets.abs-cbn.com/sso/images/login-hub@2x.png');
            }

            /* 1.3 dpr */
            @media
            (-webkit-min-device-pixel-ratio: 1.3),
            (min-resolution: 124.8dpi){
                /* Retina-specific stuff here */
              background-image: url('//assets.abs-cbn.com/sso/images/login-hub@2x.png');
            }

            /* 1.5 dpr */
            @media
            (-webkit-min-device-pixel-ratio: 1.5),
            (min-resolution: 144dpi){
                /* Retina-specific stuff here */
              background-image: url('//assets.abs-cbn.com/sso/images/login-hub@2x.png');
            }
          }
        }

      .btn-container {
        color: #fff;
        text-align: center;
        font-size: 12px;

        div {
          font-family: 'Montserrat', sans-serif !important;
        }

        .btn-uninav {
          border: none;
          width: 270px;
          height: 40px;
          margin: 15px auto;
          display: block;
          cursor: pointer;
          color: #fff !important;
          border-radius: 0;
          text-align: center !important;
          -webkit-appearance: none;
          font-weight: 400 !important;
          font-family: 'Montserrat', sans-serif !important;

          &.sso-btn-login {
            background-color: #363636;
            font-family: 'Montserrat', sans-serif !important;
            font-weight: 400px !important;
          }
        }

        .sign-up {
          font-weight: bold;
          color: #00bff3;
          font-weight: bold;
          font-family: 'Montserrat', sans-serif !important;
        }
      }
    }
  }
}

.privacy-policy-blocker, .my-blocker  {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: none;
  background-color: #000;
  cursor: pointer;

  &.opac {
    opacity: 0.7;
  }
}