// Media Queries
@media (min-width: $screen-sm) {
    // 568px
    .uninav-intro-text {
        font-size: 16px;
    }
    .uninav-main {
        font-size: 16px;
    }
    .uninav-main-heading {
        width: auto;
    }
    // md breakpoint collapse
    .uninav-main-links-bp-left,
    .uninav-main-links-bp-right {
        float: left;
        width: (99.8% / 2);
    }
    .lightbox {
        padding: 10px 20px;
        box-sizing: border-box;
        .content {
            .body {
                padding: 20px;
                .hub-container {
                    max-width: 100%;
                }
            }
        }
    }

  }

@media (max-width: $screen-sm) {
   .uninav-sso-container {
      width: 100%;
    }
}

@media (max-width: $screen-md) {
    .uninav-sso-container.active{
      // width: 100% !important;
      max-width: 620px;
    }
    .uninav-sso-container .first-to-show .close-container .btn-cancel {
      top : 0 !important;
    }
    .uninav-cookie-law-container {
        height: auto !important;
        background: url('https://assets.abs-cbn.com/universalnav/img/cookie-law-mobile.png') center !important;
        background-size: 100% 114% !important;
        background-repeat: no-repeat;
        .uc-content {
          .uc-sub-content{
            width: auto !important;
            float: none !important;
            text-align: center;

            .uc-sub-title {
              font-size: 10px !important;
              margin-bottom: -5px;
            }
          }
          .uc-sub-btn {
            width: 100% !important;
            display: inline !important;
            text-align: center !important;
            margin-bottom: -10px !important;
            .uc-tell-me-more {
              margin-top: 20px;
              line-height: 4 !important;
              text-align: center !important;
              margin-right: 0px !important;
              font-size: 10px !important;
            }
            .uc-btn-agree-cookie {
              line-height: 0px !important;
              width: 150px !important;
              height: 28px !important;
              font-size: 10px !important;
              margin-top: auto !important;
              font-weight: 300 !important;
              -webkit-font-smoothing: initial !important;
            }
          }
        }
    }
} 

// /* IE10+ CSS */
// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: $screen-md) {
//     .uninav-cookie-law-container { 
//         .content { 
//             .sub-btn {
//                 display: 
//             }
//         }
//     }
// }

// /* IE Edge 12+ CSS */ 
// @supports (-ms-accelerator:true) {

// }

@media (min-width: $screen-md) {
    // 728px
    .uninav-intro-text {
        font-size: 16px;
    }
    .uninav-main-links-bp-left {
        width: (99.8% / 3 * 2);
        .uninav-main-links-group {
            float: left;
            width: (99.8% / 2);
        }
    }
    .uninav-main-links-bp-right {
        width: (99.8% / 3 * 1);
    }
    .uninav-main.active {
        position: fixed;
    }
    .lightbox {
        .content {
            .body {
                .hub-container {
                    max-width: percentage(390px/728px);
                }
            }
        }
    }
}
@media (max-width: $screen-md) {
    .uninav-sso-container.active{
      // width: 100% !important;
      max-width: 620px;
    }
    .uninav-sso-container .first-to-show .close-container .btn-cancel {
      top : 0 !important;
    }

    .uninav-cookie-law-container {
        height: auto !important;
        background: url('https://assets.abs-cbn.com/universalnav/img/cookie-law-mobile.png') center !important;
        background-size: 100% 114% !important;
        background-repeat: no-repeat;
          .uc-content {
            .uc-sub-content{
              width: auto !important;
              float: none !important;
              text-align: center;

              .uc-sub-title {
                font-size: 10px !important; 
                margin-bottom: -5px;
              }
            }
            .uc-sub-btn {
              width: 100% !important;
              display: inline !important;
              text-align: center;
              margin-bottom: -10px !important;
              .uc-tell-me-more {
                margin-top: 20px;
                line-height: 4 !important;
                text-align: center !important;
                margin-right: 0px !important;
                font-size: 10px !important;
              }
              .uc-btn-agree-cookie {
                line-height: 0px !important;
                width: 150px !important;
                height: 28px !important;
                font-size: 10px !important;
                margin-top: auto !important;
                font-weight: 300 !important;
                -webkit-font-smoothing: initial !important;
              }
            }
      }
  }
}

@media (min-width: $screen-lg) {
    // 1136px
    // Media Query Handler
    #uninav-mq {
        top: $screen-lg;
    }
    .uninav-intro-wrap {
        background: url(img/uninav-round-arrow-base.png) no-repeat;
        margin-left: auto;
        margin-right: auto;
        width: 563px;
        height: 248px;
        position: relative;
    }
    .uninav-intro-spotlight-mid {
        &:after {
            display: none;
        }
    }
    .uninav-intro-arrow-stretch {
        display: block;
        visibility: visible;
        background: url(img/uninav-round-arrow-stretch.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        left: 287px;
        height: 286px;
    }
    .uninav-main.active {
        position: fixed;
    }
    .uninav-intro-text {
        padding-top: 40px;
        font-size: 20px;
        .uninav-intro-heading {
            font-weight: 700;
            span {
                font-weight: 700;
                font-size: 1.25em;
            }
        }
        .close-intro {
            font-size: 14px;
        }
    }
    .uninav-main {
        // position: absolute;
        font-size: 14px;
        max-height: none;
        overflow: visible;
        .uninav-container {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .uninav-main-heading {
        font-size: 1.4em;
        line-height: 1.8em;
        font-weight: 900;
        margin-top: 23px;
        margin-bottom: 30px;
    }
    .uninav-main-links {
        a {
            br {
                display: block;
            }
        }
    }
    .uninav-main-links-bp-left,
    .uninav-main-links-bp-right {
        float: none;
        width: auto;
        .uninav-main-links-group {
            width: (99.8% / 4);
            float: left;
        }
    }
    .lightbox {
        .content {
            .body {
                .hub-container {
                    max-width: percentage(340px/960px);
                }
            }
        }
    }
}

@media (max-width: 768px) {
  .uninav-cookie-law-container {
    bottom: -1px !important;
      .uc-content {
        width: 90% !important;
        .uc-sub-content {
          line-height: 15px !important;
          margin-top: 5px !important;
          .uc-main-title {
            font-size: 12px !important;
            padding-top: 5px;
          }
        }
      }
  }
}

@media (max-width: 962px) {
  .uninav-cookie-law-container {
      .uc-content {
        .uc-sub-content {
            .uc-main-title {
                font-size: 14px !important;
            }
            .uc-sub-title {
                font-size: 11px !important;
            }
        }
      }
  }
}

@media (max-width: 1024px) {
  .uninav-cookie-law-container {
      .uc-content {
        width: 95% !important;
        .uc-sub-content {
          // padding-top: 10px;
          // .uc-main-title { font-size: 12px !important;}
        }
        .uc-sub-btn {
          .uc-btn-agree-cookie { font-size: 12px !important; }
        }
      }
  }
}

// DEVICES BELOW 568
@media (max-width: 567px) {
    .lightbox {
        padding: 10px 10px;
        overflow-y: scroll;
        box-sizing: border-box;
        .content {
             .header {
              p {
                img {
                  display: block;
                  margin: 0 auto;
                }
                span {
                  display:block;
                  margin-top: 5px;
                  margin-left: 0px;
                }
              }
            }
            .body {
                padding: 10px;
                h1 {
                    font-size: 1.5em;
                }
                div img {
                    max-width: 100%;
                }
                .sub,
                p.text-blue {
                    font-size: 1em;
                }
                .hub-container {
                    max-width: 100%;
                }
                p.btn a {
                    font-size: .8em;
                }
            }
        }
    }
}
