body {
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
	  display: none;
	  &:focus{
	  	outline: none;
	  }
	}
}

@font-face {
	font-family: 'ElegantIcons';

	// Dev environment

	src:url('fonts/ElegantIcons.eot');
	src:url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/ElegantIcons.woff') format('woff'),
		url('fonts/ElegantIcons.ttf') format('truetype'),
		url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');

	// Staging environment

	// src:url('../fonts/ElegantIcons.eot');
	// src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
	// 	url('../fonts/ElegantIcons.woff') format('woff'),
	// 	url('../fonts/ElegantIcons.ttf') format('truetype'),
	// 	url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');

	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'ElegantIcons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// input {
//     -webkit-appearance: none !important;
//     border-radius: 0;
//     padding-left: 0;
// }
header {
	.uninav-main {
		text-align: left;
	}
	.uninav-icon-new {
		// Dev environment

		background-image: url("img/header-icons.png");

		// Staging environment

		// background-image: url("../images/header-icons.png");

		background-repeat: no-repeat;
		display: inline-block;
		background-size: 215px;

		&.uninav-icon-uninav {
			background-position: -151.5px 0px;

			&.active {
				background-position: -186.5px 0px;
			}
		}

		&.uninav-icon-login {
			background-position: -75px -3px;
			&.active {
				background-position: -116px -3px;
			}
		}

		&.uninav-icon-search {
			background-position: -2px -2px;
		    background-size: 177px;

		    &.active {
		    	background-position: -34px -2px;
		    }
		}
	}

	&.header-sticky {
	.uninav-main.mobile {		
			transition: transform 200ms linear;
			transform : translateY(-15%);
		}
	}
	.uninav-main.mobile{
			transition: transform 200ms linear;
			transform : translateY(0%);
	}
	.uninav-main.mobile {
		top: 0;
		// max-height: 100%;
		// padding-bottom: 50px;
		// height: 100%;
	    max-height: 100%;		
	    padding-bottom: 0;		
	    height: calc(100% - 40px);		
	    position: fixed;		
	}
}

.uninav-star-cinema .uninav-close {
  bottom: 0px !important;
}

#mobile-search {
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    display: none;
    .uninav-search {
    	display: block;
    	margin-right: auto;
    	margin-left: auto;
    	height: 100%;
    	width: 100%;
    }
    .uninav-close {

    position: absolute;
    right: -8px;
    border: 0;
    bottom: 4px;
    cursor: pointer;
    background-color: transparent;
    font-size: 35px;
    font-weight: 900;
    color: #FFF;


    }	
    .search-form {
    	vertical-align: middle;
	    width: 60%;
	    margin: 0 auto;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
    	.search-field {
    		background-color: transparent;
    		border-left: 0px transparent;
    		border-right: 0px transparent;
    		border-top: 0px transparent;
    		vertical-align: middle;
    		border-bottom: 2px solid #FFF;
    	    padding-right: 50px;
    	    padding-bottom: 0px;
    	    width: 100%;
    	    font-weight: 100;
    	    font-size: 22px;
    	    color: #FFF;
    	    box-sizing: border-box;
		    &:focus {
		    	outline: none;
		    	/*border-bottom: 3px solid #FFF;*/
		    }
    	}
    	.search-button {
    		    position: absolute;
			    right: 25px;
			    border: 0;
			    bottom: 7px;
			    cursor: pointer;
			    background-color: transparent;
			    margin-top: 10px;
			    background-position: -34px -1px;
			    width: 20px;
			    height: 20px;
			    &:focus {
			    	outline: none;
			    }
    	}
    	span {
			position: absolute;
			color: #FFF;
			left: 0;
			bottom: 4px;
			font-weight: 200;
			font-size: 1.5rem;
			transform: translateY(0%);
			-webkit-transition: all .3s ease; /* Safari */
    		transition: all .3s ease;
			&.active {
				    font-size: 0.8rem;
				    transform: translateY(-250%);
				    // font-weight: bold;
				  
			}
		}
    }
}

#mobile-uninav {
	z-index: 10000;
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	 border-top: 1px solid #e3e3e3;
	right: 0;
	background-color: #FFF;
	height: 40px;
	width: 100%;
	transition: transform 200ms linear;
	.mobile-menu {
	margin-left: 0px;
	}
	p{
		margin: 0;
	}
	&.pinned {
		transform: translateY(0%);
	}
	&.unpinned {
		transform : translateY(150%);
	}
	section {
		text-align: center;
			div {
			display: inline-block;
			margin: 10px 10px;
			width: 20px;
			height: 20px;

			.link-uninav {
				display: block;
				height: 100%;

				&.uninav-mobile-parent {
						width: 20px;
						height: 20px;
						// margin: 5px auto;
						vertical-align: middle;
					}

				#mobile-icon {
					@extend .link-uninav;

					// Dev environment

					background-image: url("img/sprite-logo.png");
					background-repeat: no-repeat;
					background-size: 40px;
					// Staging environment

					// background-image: url("../images/sprite-logo.png");

					// background-size: 325px;

					&.uninav-icon-new {
						background-position: 0px -43px;
						background-size: 40px;
						&.active {
							background-position: -19px -43px;
						}
					}

					&.uninav-icon-login-new {
						background-position: 2px -1px;
   						background-size: 40px;
						&.active {
							background-position: -17px -1px;
						}
						&.no-image {
							background-size: 40px;
							background-position: -18px -2px;
						}
					}
					&.uninav-icon-dashboard {
						background-position: 1px -62px;
   						background-size: 40px;
						&.active {
							background-position: -19px -62px;
						}
					}
					&.uninav-icon-search-new {
						background-position: 0px -22px;
   						background-size: 40px;
						&.active {
							background-position: -19px -22px;
						}
					}
					&.uninav-mobile-sso {
						background-position: center;
						background-size: cover;
						border-radius: 50%;
						padding-left: 20px;
						vertical-align: middle;
						text-indent: 0;
						p {
							margin: 0;
							font-size: 12px;
							display: inline-block;
						    text-decoration: none;
							white-space:nowrap;
						    color: black;
							margin-left: 5px;

						}
					}

					&.lifestyle{
						background-position: 0px -83px;
    					background-size: 20px;
					}
					&.news{
						background-position: 0px -41px;
    					background-size: 20px;
					}
					&.entertainment{
						background-position: 0px -62px;
    					background-size: 20px;
					}
					&.sports{
						background-position: 0px -104px;
    					background-size: 20px;
					}
					&.iwanttv{
						background-position: 0px -125px;
    					background-size: 20px;
					}
					&.onemusic{
						background-position: 0px -145px;
    					background-size: 20px;
					}
					&.tfc{
						background-position: 0px -166px;
    					background-size: 20px;
					}
					&.mysky{
						background-position: 0px -186px;
    					background-size: 20px;
					}
					&.skyondemand{
						background-position: 0px -207px;
    					background-size: 20px;
					}
					&.default {
						background-position: 0px -228px;
    					background-size: 20px;
					}
				}
			}
		}
	}
}

// SSO STYLES
.header-social {
	margin-right : 0px !important;
}

.triangle-top, .triangle-bottom {
  content: '';
  display: block;
  position: fixed;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 99999999;
  display: none;
}
.triangle-top {
  top: 21px;
  border-color: transparent transparent #ccc transparent;
  border-width: 10px;
}
.triangle-bottom {
  top: 22px;
  border-color: transparent transparent #fff transparent;
  border-width: 10px;
}

.gigya-expanded-profile {
	display: none;
	position: fixed;
	z-index: 100000;
	width: 300px;
  	right:15px;
  	top:40px;

	.gigya-expanded-profile-account {
		background-color: #FFF;
		border: 1px solid  #ccc;
	}
			.traingle-top-after, .traingle-top-before {
					bottom: 99.8%;
					right: 15px;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
			}
			.traingle-top-after {
				    border-bottom-color: rgba(0,0,0,.9);
				    border-width: 0 8.5px 9.5px;
			}
			.traingle-top-before {
				    border-color: transparent;
				    border-bottom-color: #fff;
				    border-style: dashed dashed solid;
				    border-width: 0 8.5px 8.5px;
				    position: absolute;
				    right: 15px;
				    z-index: 1;
				    height: 0;
				    width: 0;
			}

		img {

			display: inline-block;
			margin: 0 auto;
			width: 90px;
			height: 90px;
			border-radius: 50%;
			margin: 20px;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				padding: 10px 10px 10px 25px; 
    			border-top: 1px solid #ccc;
				a {
					text-decoration: none;
					color: #666;

					.saved-count {
						color: #b11717;
						font-size: 12px;
						padding-left: 15px;
					}
				}
			}
		}
		.kapamilya-info {
			display: inline-block;
			width: 160px;
	    float: right;
	    margin-top: 45px;
	    margin-right: 5px;
	    cursor: default;

		    p {
		    	margin: 0;
		    	letter-spacing: .04em;
		    	white-space:normal;
          word-break: break-all;
          word-wrap: break-word;
		     	
		    	&.kapamilya-name{
		     		font-size: 14px;
		     		color: #000;

		     	}
		     	&.full-name {
		     		font-size: 10px;
		     		font-weight: 100;
		     		color: #999;
            word-break: break-all;
            word-wrap: break-word;
		     	}
		    }
		     
		}

}

.sso-active {
	// height: 100%;
	a {
		text-decoration: none;
		&.active {
			padding-top: 13px !important;
			padding-bottom: 13px !important;
			// background-color: #FFF;

			div{

				p{
					// color : #999;
				}
			}

		}

		i {
			width: 30px;
			height: 30px;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
			vertical-align: middle;
			margin-right: 5px;
		}

		div {
			display: inline-block;
			vertical-align: middle;
			p {
				margin: 0;
				vertical-align: middle;
				color: #FFF;
			}
		}
	}
}

.mobile-dashboard:after,
.mobile-dashboard:before {
  content: '';
  display: block;
  position: absolute;
  right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

.mobile-dashboard:before {
  top: 100%;
  border-color: #e3e3e3 transparent transparent transparent;
  border-width: 10px;
}

.mobile-dashboard:after {
  top: calc(100% - 1px);
  border-color: #fff transparent transparent transparent;
  border-width: 10px;
}

.mobile-dashboard {
	position: fixed;
	display: block;
	bottom: 50px;
	right: 5px;
	display: none;
	height: auto;
	z-index: 10000;
	width: 130px;
	background-color: #FFF;
	border: 1px solid #e3e3e3;
	
	ul {
		list-style: none;
		padding: 0 0px;
		margin: 0 0;
		li {
			padding: 10px 10px;
			border-bottom: 1px solid #e3e3e3;
			&:last-child() {
				border-bottom: 0px transparent;
			}

			a {
				text-decoration: none;
				color: #000;
				&:visited {
					color: #000;
				}
			}
		}
	}
	.traingle-top-before , .traingle-top-after  {
		right: 5px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;

	}
	.traingle-top-before {
		border-bottom-color: rgba(0,0,0,.9);
		bottom: -7px;
    	border-width: 0px 9.5px 7.5px;
    	transform: rotateX(210deg);
	}
	.traingle-top-after  {
		bottom: -7px;
		border-color: transparent;
		border-bottom-color: #fff;
		border-style: dashed dashed solid;
		border-width: 0 9.5px 8.5px;
		position: absolute;
		z-index: 1;
		height: 0;
		width: 0;
		transform: rotateX(210deg);
	}

}

@media (max-width: $screen-lg) {
}

@media (max-width: 960px) {
	#uninav-toggle{
		display: none !important;
	}
	#header-collapse{
		max-height: 400px;
	}
}

@media (max-width: 320px) {
	#header-collapse{
		max-height: 300px;
	}
}

@media screen and (orientation:landscape) {
	#header-collapse{
		max-height: 240px !important;
	}
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}