.uninav-privacy-policy {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);    
    -moz-transform: translate(-50%, -50%);    
    -o-transform: translate(-50%, -50%);    
    -ms-transform: translate(-50%, -50%);    
    transform: translate(-50%, -50%);

    // background-color: '#fff';
    background: #ffffff url('https://assets.abs-cbn.com/universalnav/img/abs-cbn-ring-logo-desktop.png');
    background-position: 50% -10%;
    background-repeat: no-repeat;
    width: 600px;
    // height: 406px;
    padding-bottom: 37px;
    z-index: 9999;
    text-align: center;
    
    .up-logo {
        margin-top: 5.5%;
        border-radius: 40% 40% 0px 0;
        display: inline;
    }
    .up-head-title {
        font-size: 14px;
        line-height: 1.3 !important;
        letter-spacing : normal !important;
        font-weight: bold !important;
        color: #000 !important;
        margin-top: 30px;
        margin-bottom: 25px;
        text-transform: none !important;
        font-family: 'Montserrat', sans-serif !important;
        .up-sub-title-link {
            color: #00bff0 !important;     
            text-decoration: underline !important;       
        }
    }
    .up-sub-title {
        font-size: 14px;
        font-weight: 400;
        margin-bottom : 30px;
        .up-sub-title-link {
            font-weight: 500 !important;
            color: #00bff0 !important;     
            text-decoration: underline !important;
        }
    }
    .desk-view {
        display: block;
    }
    .mobile-view {
        display: none;
    }
    .up-sub-btn {
        .up-btn-accept {
            border: none;
            cursor: pointer;
            font-size: 13.99px;
            background: #363636;
            color: #ffffff;
            width: 297px;
            height: 50px;
            font-family: 'Montserrat', sans-serif !important;
        }
        .up-see-updates {
            cursor: pointer;
            font-size: 14px;
            font-weight: 500 !important;
            color: #00bff0 !important;
            text-decoration: underline !important;    
            font-family: 'Montserrat', sans-serif !important;            
        }
    }
    .up-condition-content {
        .up-head-title {
            margin-top: 30px;
        }
        .up-sub-btn {
            .up-btn-accept {
                width: 25%;
                margin: 10px;
            }
        }
    }
}

@media (max-width: $screen-md) {
    .uninav-privacy-policy {
        background: #ffffff url('https://assets.abs-cbn.com/universalnav/img/abs-cbn-ring-logo-mobile.png');
        background-position: 50% -5%;
        background-repeat: no-repeat; 
        width: 280px;
        
        .up-logo {
            width: 35px;
            height: 40px;
            margin-top: 7%;
            border-radius: 40% 40% 0px 0;

            display: initial !important;
        }
        .up-head-title {
            font-size: 11px;
            line-height: 1.5 !important;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
        }
        .up-sub-title {
            font-size: 11px;
            margin-bottom : 25px;            
        }
        .desk-view {
            display: none;
        }
        .mobile-view {
            display: block;
        }
        .up-sub-btn {
            .up-btn-accept {
                font-size: 12px;
                width: 240px;
                height: 40px;
            }
    
            .up-see-updates{
                font-size: 11px;
            }
        }
        .up-condition-content {
            .up-sub-btn {
                .up-btn-accept {
                    width: 40%;
                    margin: 10px;
                }
            }
        }

    }
}

@media (width: 601px) { // Samsung galaxy tablet
    .uninav-privacy-policy {
        background: #fff url(https://assets.abs-cbn.com/universalnav/img/abs-cbn-ring-logo-mobile.png);
        background-position: 50% -15%;
        background-size: contain;
        background-repeat: no-repeat;
        width: 450px;
        .up-logo {
            width: 40px;
            height: auto;
            margin-top: 4%;
        }
        .up-head-title {
            font-size: 14px;
        }
    }
}