/*SITE-TAKEOVER*/
.site-takeover {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

    &:before {
        content: "";
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: -1;
        background: rgba(0,0,0,0.8);
    }
    .takeover-close {
        padding: 5px 10px;
        font-size: 28px;
        font-weight: bold;
        color:#fff;
        position: absolute;
        right: 15px;
        top: 5px;
        z-index: 900;
    }

    .takeover-content {
        position: relative;
        width: 100;
        margin: 35px auto;
        padding: 15px 20px;
        text-align: center;
    }
}
@media (max-width: 728px) {
    .site-takeover {
        .takeover-content {
            .inhouse {
                img {
                    width: 96%;
                }
            }
        }
    }
}
/*SITE-TAKEOVER End*/