// .container:before,
// .container:after,
// .container-fluid:before,
// .container-fluid:after,
// .row:before,
// .row:after {
//   content: " ";
//   display: table;
// }
// .container:after,
// .container-fluid:after,
// .row:after {
//   clear: both;
// }
//
//
// .row {
// 	margin-left: -15px;
//  	margin-right: -15px;
//   // position:relative;
// }
//
// [class*="col-"] {
//     float: left;
//     // padding: 15px;
//   position: relative;
//   min-height: 1px;
//   padding-left: 15px;
//   padding-right: 15px;
// }
//
// /* For desktop: */
// .col-1 {width: 8.‎33333333%;}
// .col-2 {width: 16.‎66666667%;}
// .col-3 {width: 25%;}
// .col-4 {width: 33.‎33333333%;}
// .col-5 {width: 41.‎66666667%;}
// .col-6 {width: 50%;}
// .col-7 {width: 58.‎33333333%;}
// .col-8 {width: 66.‎66666667%;}
// .col-9 {width: 75%;}
// .col-10 {width: 83.‎33333333%;}
// .col-11 {width: 91.‎66666667%;}
// .col-12 {width: 100%;}
//
// @media only screen and (max-width: 400px) {
//     /* For mobile phones: */
//     [class*="col-"] {
//         width: 100% ;
//     }
// }
//
// .float-left {
//   float: left;
// }
