.sso-profile::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.sso-profile {
  display: block;
  position: fixed;
  top: 0;
  right: -360px;
  background-color: #111;
  width: 360px;
  height: 100%;
  z-index: 9999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
  -ms-overflow-style: none;

  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  
  &.sso-profile-active{
    // transition: .5s;
    right: 0;
  }

//   @-moz-document url-prefix() {
//     margin-right: -16px;
//     padding-right: 15px;
//   }

  &.active {
    width: 320px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.75);
  }

}
.sso-profile {
    .sso-content {
        height: 100%;
        padding: 0 10px 0 20px;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif !important;
        color:#fff;

        .close-container {    
            .kapamilya-name {
                margin: 0;
                position: relative;

                .btn-cancel {
                    font-size: 30px;
                    height: 30px;
                    width: 30px;
                    text-align: right;
                    position: absolute;
                    right: 0;    
                    top: -3px;
                    cursor: pointer;

                    &:before {
                        font-weight: bold;
                        content: '\00d7';
                    }

                    &:hover {
                        opacity: .7;
                    }
                } 
            }
        } 

        .sso-content-body {
            padding: 10px;
            list-style: none;
            height: calc(100% - 45px);
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            margin : 0;

            li {
                // text-transform: uppercase;
                padding: 15px 0;
                border-bottom: 1px solid #252525;

                &:last-child {
                    border: 0;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: 0.2s;
                    -webkit-transition: 0.2s;
                    font-size: 1.2em;
                    
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

            .name {
                .full-name {
                    font-size: 1.5em;
                    margin: 0;
                }
            }

            .kapamilya-points {
                color : #cf9e27;
                font-weight: bold;

                .points {
                    font-size: 1.5em;
                }
            }

            .notification {
                position: relative;
            
                .badge {
                    position: absolute;
                    right : 0;
                    background: #ec1c24;
                    color: #fff;
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    border-radius: 50%;

                    strong {
                        position: relative;
                        top:3px;
                    }
                }
            }
        }
    } 
}