<div class="uninav-container">
  <h2 class="uninav-main-heading">
    Welcome to your one-stop hub for everything Kapamilya!<br>Where would you like to go next?
  </h2>
</div>
<div class="uninav-main-divider"></div>
<div class="uninav-container">
  <div class="uninav-main-links clearfix">
    <div class="uninav-main-links-bp-left">
      <ul class="uninav-main-links-group">
        <li><a target="_blank" href="//entertainment.abs-cbn.com/">ABS-CBN Entertainment</a></li>
        <li><a target="_blank" href="//news.abs-cbn.com/">ABS-CBN News</a></li>
        <li><a target="_blank" href="//sports.abs-cbn.com/">ABS-CBN Sports</a></li>
        <li><a target="_blank" href="//lifestyle.abs-cbn.com/">ABS-CBN Lifestyle</a></li>
        <li><a target="_blank" href="//store.abs-cbn.com/">ABS-CBN Store</a></li>
        <li><a target="_blank" href="//news.abs-cbn.com/bmpm">BMPM</a></li>
        <li><a target="_blank" href="//cablechannels.abs-cbn.com/">Cable Channels</a></li>
        <li><a target="_blank" href="//www.choosephilippines.com/">Choose Philippines</a></li>
        <li><a target="_blank" href="//dzmm.abs-cbnnews.com/">DZMM</a></li>
      </ul>
      <ul class="uninav-main-links-group">
        <li>
          <a target="_blank" href="//ktx.abs-cbn.com/?utm_source=uni-nav&utm_medium=link&utm_content=ktx">KTX</a>
        </li>
        <li><a target="_blank" href="//www.mor1019.com/">MOR 101.9</a></li>
        <li><a target="_blank" href="//myxph.com/">MYX PH</a></li>
        <li><a target="_blank" href="//www.onemusic.ph/">One Music</a></li>
        <li><a target="_blank" href="//news.abs-cbn.com/patrolph">Patrol.ph</a></li>
        <li><a target="_blank" href="//push.abs-cbn.com/">Push</a></li>
        <!-- <li><a target="_blank" href="//pushawards.abs-cbn.com/">Push Awards</a></li> -->
        <li><a target="_blank" href="//starcinema.abs-cbn.com/">Star Cinema</a></li>
        <li><a target="_blank" href="//starcreatives.abs-cbn.com/">Star Creatives</a></li>
        <li><a target="_blank" href="//starmusic.abs-cbn.com/">Star Music</a></li>
        <li><a target="_blank" href="//kapamilyathankyou.abs-cbn.com/">KAPAMILYA Thank You</a></li>
      </ul>
    </div>
    <div class="uninav-main-links-bp-right">
      <ul class="uninav-main-links-group">
        <li>
          <ul>
            <li><a target="_blank" href="//tfcmyremit.com/">TFC MyRemit</a></li>
            <li><a target="_blank" href="//www.tfc.tv/">TFC.TV</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a target="_blank" href="//abscbnmobile.com/">ABS-CBNmobile</a></li>
            <li><a target="_blank" href="//www.iwantv.com.ph/">iWant TV</a></li>
            <li><a target="_blank" href="//tvplus.abs-cbn.com/">ABS-CBN TVplus</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a target="_blank" href="//www.mysky.com.ph/">SKY</a></li>
            <li><a target="_blank" href="//www.mysky.com.ph/skyondemand">SKY On-Demand</a></li>
          </ul>
        </li>
      </ul>
      <ul class="uninav-main-links-group">
        <li><a target="_blank" href="//corporate.abs-cbn.com/">ABS-CBN Corporate</a></li>
        <li><a target="_blank" href="//chickenporkadobo.abs-cbn.com/">Adober Studios</a></li>
        <li><a target="_blank" href="//corporate.abs-cbn.com/careers/">Careers</a></li>
        <li><a target="_blank" href="//www.abs-cbnfoundation.com/">Foundation</a></li>
        <li><a target="_blank" href="//internationalsales.abs-cbn.com/">International Sales</a></li>
        <li><a target="_blank" href="//corporate.abs-cbn.com/investorrelations/">Investor Relations</a></li>
        <li><a target="_blank" href="//marketportal.abs-cbn.com/">Market Portal</a></li>
        <li><a target="_blank" href="//starmagicphils.abs-cbn.com/">Star Magic</a></li>
        <li><a target="_blank" href="//corporate.abs-cbn.com/stellar/">Stellar</a></li>
      </ul>
    </div>
  </div>
</div>